<script>
  import Spacer from "components/Spacer.svelte";
  export let data = {};
</script>

<div class="header">
  <div class="titleConinaer">
    <h1 class="glitchText">{data.name || ''}</h1>
    <Spacer />
    <h3 class="glitchText">{data.short_description || ''}</h3>
  </div>
  <div class="raitingContainer">
    <div class="raiting">
      <div class="glitchText raitingText">Рейтинг проекта</div>
      <Spacer />
      <div class="coins glitchText">
        {(data.score || 0).toLocaleString()}
        <Spacer vertical /><img src="/assets/coin.svg" alt="coing" />
      </div>
    </div>
  </div>
</div>

<style>
  .coins {
    background: rgba(0, 0, 0, 0.31);
    border-radius: 7.16418px;

    padding: 8px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .raiting {
    background: #3e0e4a;
    box-shadow: 2px 2px 0px #03c4d8, -2px -2px 0px #f21cbb;
    border-radius: 12px;
    padding: 16px;
  }
  .header {
    display: flex;
  }
  .titleConinaer {
    flex-grow: 1;
  }
  .glitchText {
    font-family: "Arturito";
    font-style: normal;
    color: #ffffff;
    line-height: 119.5%;
    font-weight: bold;
    font-size: 16px;
    text-shadow: 1px 1px 0px #03c4d8, -1px -1px 0px #f21cbb;
  }
  h1.glitchText {
    font-size: 40px;
    margin: 0;
    text-shadow: 2px 2px 0px #03c4d8, -2px -2px 0px #f21cbb;
  }
  h3.glitchText {
    margin: 0;
    font-size: 16px;
  }
  .raitingText {
    font-size: 16px;
  }
  @media (max-width: 960px) {
    .header {
      flex-wrap: wrap;
    }
    .raitingContainer {
      margin-top: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
  }
</style>
