<script>
  let data = {};
  new Promise((resolve, reject) => {
    setTimeout(
      () =>
        resolve({
          video: "https://www.youtube.com/embed/O7rWKIz6rJY",
          title: "ЧТО ТАКОЕ DREAMAPP?",
          description:
            "DreamApp — шоу, где твои идеи для контента могут стать реальностью.\nПравила шоу просты: у участника есть две минуты, чтобы представить инвестору свой проект. Инвесторы должны решить, станет ли твоя идея новым блокбастером. Продать проект инвестору помогают пушеры — звездные гости и успешные блогеры. Лучшие проекты получат деньги на реализацию!",
        }),
      0
    );
  }).then((res) => {
    data = res;
  });
</script>

<section class="container">
  <iframe
    title="Dreammapp"
    width="560"
    height="315"
    src={data.video}
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen="allowfullscreen"
    mozallowfullscreen="mozallowfullscreen"
    msallowfullscreen="msallowfullscreen"
    oallowfullscreen="oallowfullscreen"
    webkitallowfullscreen="webkitallowfullscreen" />
  <div class="content">
    <h4>{data.title || ''}</h4>
    <div class="description">{data.description || ''}</div>
  </div>
</section>

<style>
  .container {
    border-radius: 12px;
    overflow: hidden;
    background: #3e0e4a;
    display: flex;
  }
  iframe {
    min-width: 560px;
  }
  h4 {
    font-family: "Arturito";
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 119.5%;
    text-transform: uppercase;
    color: #ffffff;
    text-shadow: 1px 1px 0px #03c4d8, -1px -1px 0px #f21cbb;
    margin-top: 0;
  }
  .content {
    padding: 24px;
    box-sizing: border-box;
    max-height: 315px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    scrollbar-width: thin;
    scrollbar-color: rgba(152, 163, 168, 0.2) transparent;
  }
  .content::-webkit-scrollbar {
    height: 0.375rem;
    width: 0.375rem;
    border-radius: 8px;
  }
  .content::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 8px;
  }
  .content::-webkit-scrollbar-thumb {
    background-color: rgba(152, 163, 168, 0.2);
    border-radius: 8px;
  }
  .content::-webkit-scrollbar-thumb:vertical {
    min-height: 1.5rem;
  }
  .content::-webkit-scrollbar-thumb:horizontal {
    min-width: 1.5rem;
  }

  .description {
    font-family: Bender;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 119.5%;
    color: #ffffff;
    white-space: pre-wrap;
  }
  @media (max-width: 960px) {
    .container {
      flex-direction: column;
    }
    .content {
      max-height: fit-content;
    }
    iframe {
      min-width: 100%;
      width: 100%;
      height: 100%;
    }
  }
</style>
