<script>
  import { fade } from "svelte/transition";
  import Spacer from "components/Spacer.svelte";
  import Loader from "components/Loader.svelte";
  import { submitRequest, user } from "store";
  import { notifier } from "@beyonk/svelte-notifications";
  let isLoading = false;
  let isSent = false;
  let filename = "";
  let formRef = null;
  const onFileChange = (e) => {
    const file = e.target.files ? e.target.files[0] : null;
    if (file) filename = file.name;
  };
  const submit = (e) => {
    if(!filename){
      notifier.danger("Приложите файл презентации");
      return;
    }
    isLoading = true;
    submitRequest(e)
      .then(() => {
        isSent = true;
      })
      .catch((err) => {
        notifier.danger("При отправке заявки произошла ошибка");
      })
      .finally(() => {
        isLoading = false;
      });
  };
  const sendMore = (e) => {
    e.preventDefault();
    formRef.reset();
    filename = "";
    isSent = false;
  };
</script>

<form on:submit|preventDefault={submit} bind:this={formRef}>
  <label for="fio">Имя и Фамилия</label>
  <input
    required
    type="text"
    id="fio"
    name="user_fullname"
    placeholder="Иванов Иван Иванович" />
  <Spacer size={12} />
  <div class="row">
    <div class="cell">
      <label for="email">Ваш Email</label>
      <input
        required
        type="email"
        id="email"
        name="user_email"
        placeholder="ivanovivan@mail.ru" />
    </div>
    <Spacer size={24} vertical />
    <input
      bind:value={$user.username}
      type="hidden"
      id="phone"
      name="user_phone"
      placeholder="+7(999)123-45-67" />
    <div class="cell">
      <label for="projectname">Название проекта</label>
      <input
        required
        type="text"
        id="projectname"
        name="proposal_name"
        placeholder="Например, 'Лицом в тарелку'" />
    </div>
  </div>

  <Spacer size={12} />
  <label for="description">Описание проекта</label>
  <textarea
    rows={3}
    required
    id="description"
    name="proposal_description"
    placeholder="Опишите ваш проект в небольших подробностях" />
  <Spacer size={12} />
  <div class="row">
    <div class="cell">
      <label for="file">Презентация
        <Spacer size={12} />
        <input
          type="file"
          id="file"
          name="proposal_presentation"
          on:change={onFileChange} />
        <div class="fileUpload">
          <div class="fileLabel">{filename || 'Приложите файл'}</div>
          <div class="uploadButton">Загрузить</div>
        </div>
      </label>
    </div>
    <Spacer size={24} vertical />
    <div class="cell">
      <label for="tizer">Тизер (необязательное поле)</label>
      <input
        type="text"
        id="tizer"
        name="proposal_teaser"
        placeholder="URL ссылка" />
    </div>
  </div>
  <Spacer size={12} />
  <label required for="cost">Сколько нужно денег?</label>
  <input
    type="number"
    max="999999999"
    id="cost"
    required
    name="proposal_money"
    placeholder="Например, '500 000 руб'" />
  <Spacer size={12} />
  <label class="checkboxLabel"><input type="checkbox" name="agreed" required />
    Я принимаю
    <a href={window.location.origin + '/rules'} target="_blank">правила участия в шоу</a>
  </label>
  <Spacer size={12} />
  <div class="submitRow">
    {#if isLoading}
      <Loader size={45} />
    {:else}<button type="submit" class="submit">ХОЧУ В ШОУ</button>{/if}
  </div>
  {#if isSent}
    <div class="formSent" transition:fade|local>
      <div class="glitchText title">Заявка отправлена!</div>
      <Spacer size={24} />
      <button class="submit" on:click={sendMore}>Отлично</button>
    </div>
  {/if}
</form>

<style>
  .fileUpload {
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    font-family: Bender;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    border: none;
    color: #ffffff;
  }
  .fileLabel {
    padding: 12px 24px;
  }
  .uploadButton {
    background: #03c4d8;
    border-radius: 4px;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 24px;
  }
  .row {
    display: flex;
  }
  .cell {
    flex-grow: 1;
  }

  .glitchText {
    font-family: "Arturito";
    font-weight: bold;
    font-size: 16px;
    line-height: 119.5%;
    text-transform: uppercase;
    color: #ffffff;
    text-shadow: 1px 1px 0px #03c4d8, -1px -1px 0px #f21cbb;
    text-decoration: none;
  }
  .title {
    font-size: 26px;
    text-shadow: 2px 2px 0px #03c4d8, -2px -2px 0px #f21cbb;
  }
  form {
    background: rgba(255, 255, 255, 0.03);
    border-radius: 12px;
    padding: 47px 100px;
    position: relative;
  }
  label {
    font-family: Bender;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 12px;
  }
  input,
  textarea {
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    font-family: Bender;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    border: none;
    color: #ffffff;
    padding: 12px 24px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid transparent;
  }
  input[type="file"] {
    display: none;
  }
  input:focus,
  textarea:focus {
    border-color: #f21cbb;
  }
  input::placeholder,
  textarea::placeholder {
    color: #ffffff;
    opacity: 0.15;
  }
  .submit {
    margin: 0 auto;
    cursor: pointer;
    background-color: #400e4b;
    border: none;
    font-family: "Bender", sans-serif;
    font-weight: 900;
    font-size: 15px;
    line-height: 17px;
    text-transform: uppercase;
    color: #ffffff;
    padding: 14px 54px;
    border-radius: 5px;
    position: relative;
    box-shadow: -4px -3px 0 #dc1bad, 4px 3px 0 #03c4d8;
    align-self: center;
  }
  .submit:active {
    background-color: #400e4b;
  }
  .submitRow {
    display: flex;
    justify-content: center;
  }
  .formSent {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px) saturate(160%);
    -webkit-backdrop-filter: blur(10px) saturate(160%);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .checkboxLabel {
    margin: 0;
  }
  .checkboxLabel a {
    color: #03c4d8;
  }
  input[type="checkbox"] {
    width: auto;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
  @media (max-width: 960px) {
    .row {
      display: block;
    }
    form {
      padding: 16px;
    }
  }
</style>
