<script>
  import { isAuthorized, isAuthOpen } from "store";
  import Spacer from "components/Spacer.svelte";
  import Form from "./Form.svelte";
</script>

<section>
  <div class="glitchText title">Подать заявку</div>
  <Spacer size={24} />
  <div class="sectionDescription">
    У тебя есть проект, который может стать новым хитом, собрать лайки и
    просмотры?<br />
    <b>Расскажи нам – и стань участником следующего выпуска</b>
  </div>
  <Spacer size={24} />
  {#if $isAuthorized}
    <Form />
  {:else}
    <div class="sectionDescription">
      Для подачи заявки необходимо
      <a
        class="authLink"
        href="#"
        on:click|preventDefault={() => ($isAuthOpen = true)}>авторизоваться</a>
    </div>
  {/if}
</section>

<style>
  .authLink {
    color: #03c4d8;
  }
  .sectionDescription {
    font-family: Bender;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #ffffff;
    text-align: center;
  }
  .glitchText {
    font-family: "Arturito";
    font-weight: bold;
    font-size: 16px;
    line-height: 119.5%;
    text-transform: uppercase;
    color: #ffffff;
    text-shadow: 1px 1px 0px #03c4d8, -1px -1px 0px #f21cbb;
    text-decoration: none;
  }
  .title {
    font-size: 26px;
    text-shadow: 2px 2px 0px #03c4d8, -2px -2px 0px #f21cbb;
    text-align: center;
  }
</style>
