<script>
  import { crossfade, scale } from "svelte/transition";
  import Spacer from "components/Spacer.svelte";
  import Close from "assets/Close.svelte";
  export let data = {};
  let selectedImage = null;
  const selectImage = (link) => (selectedImage = link);
  const [send, receive] = crossfade({
    duration: 200,
    fallback: scale,
  });
</script>

{#if data.images && data.images.length}
  <section>
    <div class="title">Скриншоты</div>
    <Spacer size={16} />
    <div class="images">
      {#each data.images as image}
        <div
          class="imageContaier"
          on:click={() => selectImage(image)}
          in:receive={{ key: image }}
          out:send={{ key: image }}>
          <div class="image" style={`background-image: url(${image})`} />
        </div>
      {/each}
    </div>
  </section>
  <Spacer size={40} />
{/if}
{#if selectedImage}
  <div
    class="preview"
    in:receive={{ key: selectedImage }}
    out:send={{ key: selectedImage }}
    on:click={() => selectImage(null)}>
    <div class='close'><Close size={24}/></div>
    <img src={selectedImage} alt="project" class="previewImage" />
  </div>
{/if}

<style>
  .close{
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
  }
  .previewImage {
    max-width: 100%;
    max-height: 100%;
  }
  .preview {
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px) saturate(160%);
    -webkit-backdrop-filter: blur(10px) saturate(160%);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  section {
    overflow: visible;
  }
  .images {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -24px -16px 0;
  }

  .title {
    font-family: "Arturito";
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 119.5%;
    text-transform: uppercase;
    color: #ffffff;
    border-bottom: 3px solid white;
    padding-bottom: 4px;
    display: inline-block;
  }
  .imageContaier {
    width: 50%;
    padding: 0 24px 16px 0;
    box-sizing: border-box;
  }
  .image {
    padding-top: 35%;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: #dc1bad;
    border-radius: 12px;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
  }
  .image:hover {
    transform: scale(1.05);
  }
  @media (max-width: 960px) {
    .imageContaier {
      width: 100%;
    }
    section {
      overflow: hidden;
    }
  }
</style>
