<script>
  import Spacer from "components/Spacer.svelte";
</script>

<h3>ЧТО ТАКОЕ DREAMAPP?</h3>
<section class="container">
  <div class="sectionDescription">
    DreamApp — шоу, где твои идеи для контента могут стать реальностью.
  </div>
  <Spacer size={16}/>
  <div class="sectionDescription">
    Правила шоу просты: у участника есть две минуты, чтобы представить инвесторам свой проект. Инвесторы должны решить, станет ли твоя идея новым блокбастером. Продать проект инвесторам помогают пушеры — звездные гости и успешные блогеры. Лучшие проекты получат деньги на реализацию!
  </div>
</section>

<style>
  h3 {
    font-family: "Arturito", sans-serif;
    font-weight: bold;
    font-size: 48px;
    line-height: 62px;
    text-transform: uppercase;
    color: #ffffff;
    text-shadow: -2px -2px 1px #f21cbb;
    text-align: center;
  }
  section {
    overflow: hidden;
  }
  .sectionDescription {
    font-family: Bender;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #ffffff;
    text-align: center;
  }
</style>
