<script>
  import Spacer from "components/Spacer.svelte";
</script>

<section class="container">
    <div class="glitchText title">Как поддержать понравившийся проект</div>
  <Spacer size={16} />
  <div class="sectionDescription">
    В шоу DreamApp не только инвесторы могут поддерживать питчеров. У тебя тоже
    есть возможность влиять на судьбу понравившихся проектов.
  </div>
  <Spacer size={16} />
  <div class="sectionDescription">
    Для этого необходимо авторизоваться и отдать свой голос за понравившийся
    проект. Проекты, набравшие больше всего донатов, имеют больше шансов
    получить поддержку инвесторов на шоу.
  </div>
</section>

<style>
  section {
    overflow: hidden;
  }
  .glitchText {
    font-family: "Arturito";
    font-weight: bold;
    font-size: 16px;
    line-height: 119.5%;
    text-transform: uppercase;
    color: #ffffff;
    text-shadow: 1px 1px 0px #03c4d8, -1px -1px 0px #f21cbb;
    text-decoration: none;
  }
  .title {
    font-size: 26px;
    text-shadow: 2px 2px 0px #03c4d8, -2px -2px 0px #f21cbb;
    text-align: center;
  }
  .sectionDescription {
    font-family: Bender;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #ffffff;
    text-align: center;
  }
</style>
