<script>
  import Spacer from "components/Spacer.svelte";
</script>

<Spacer size={40} />
<div class="rules">
  <p class="center">
    <b>DREAMAPP</b><br />
    ООО «Студия Cкринлайф»
    <br />(ИНН 7723904201/ КПП 772701001/ ОГРН 1147746357054, адрес места
    нахождения 117628, г. Москва, ул. Старокачаловская, д. 4, пом.1, ком.17Б)
  </p>
  <h2 class="center">СОГЛАШЕНИЕ ОБ УЧАСТИИ В ОНЛАЙН ШОУ «DreamAPP»</h2>
  <p class="right">«20» октября 2020 года, г. Москва
  </p>
  <p>
    Настоящий документ, далее по тексту «Соглашение», регулирует правоотношения, возникающие между <b>ООО «Студия Скринлайф»</b>, далее по тексту <b>«Организатор»</b> и ВЫ, акцептовавший настоящий документ, физическое дееспособное лицо, далее по тексту <b>«Участник»</b>, совместно именуемые «Стороны», а по отдельности «Сторона», заключившими настоящее Соглашение. 
  </p>
  <p><b>ПРЕАМБУЛА</b></p>
  <p><b>ПРИНИМАЯ ВО ВНИМАНИЕ, ЧТО: </b></p>
  <p>Участник принимает участие в съемках Шоу.</p>
  <p>
    Организатор осуществляет производство Шоу, желая оказать содействие Участнику в продвижении его Проекта. 

  </p>
  <p>
    Участник получает возможность привлечь интерес Инвестора как к Проекту, так и непосредственно к личности самого Участника, а также получить Поддержку Инвестора в продвижении оригинальных диджитал-проектов.

  </p>
  <p><b>1. ОСНОВНЫЕ ОПРЕДЕЛЕНИЯ</b></p>
  <p>
    1.1.
    <b>Выпуск Шоу </b>
    – одна серия Шоу со сценарием, производство которой осуществляет
    Организатор.
  </p>
  <p>
    1.2.
    <b>Инвесторы</b>
    — приглашенные Организатором Шоу для участия в Шоу независимые инвесторы, представители бизнеса, принимающие решение о вложении средств (как личных, так и – от имени бизнес образований) в Проект. 
  </p>
  <p>
    1.3.
    <b>Организатор</b>
    — ООО «Студия Скринлайф» (место нахождения адрес места нахождения 117628, г. Москва, ул. Старокачаловская, д. 4, пом.1, ком.17Б), определяющее порядок проведения Шоу и осуществляющее организационно-техническое обеспечение Шоу. Организатору принадлежит исключительное право на Шоу и его составные элементы.

  </p>
  <p>
    1.4.
    <b>Питч</b>
    — краткая структурированная презентация Проекта перед Инвесторами, осуществляемая каждым Участником в рамках видеосъемки Выпуска Шоу, включающая в себя как видео визитку, подготовленную Участником, так и непосредственно презентацию Проекта Инвесторам.

  </p>
  <p>
    1.5.
    <b>Проект</b>
    – цифровой или медиа проект в формате аудиовизуального или литературного произведения или произведения искусства или программы для ЭВМ или мобильного приложения или в иной форме, разрабатываемый Участником, в целях получения финансирования которого Участник делает Питч. 
  </p>
  <p>
    1.6.
    <b>Поддержка Инвестора</b>
    – решение Инвестора об инвестировании (вложении средств, выдаче займа, создании совместного предприятия, приобретении интеллектуальных прав, иной форме поддержки) в любые понравившиеся Инвестору Проекты. Указанное решение озвучивается Инвестором в ходе видеосъемки Выпуска Шоу.

  </p>
  <p>
    1.7.
    <b>Правила Шоу</b>
    – положения, определяющие порядок, принципы, установки, служащие руководством по проведению Шоу.

  </p>
  <p>
    1.8.
    <b>Протокол</b>
    – документ, подписываемый Инвестором после окончания съемки Выпуска Шоу в качестве дополнительной фиксации Поддержки Инвестора.

  </p>
  <p>
    1.9.
    <b>Пушер</b>
    – лицо (известный блогер, селебритиз, а также иные лица, обладающие аудиторией), обеспечивающее информационное сопровождение проведения Шоу. 

  </p>
  <p>
    1.10.
    <b>Шоу</b>
    - оригинальное аудиовизуальное произведение – киножурнал, создаваемый на основе реалити-шоу под названием “DreamApp”, предоставляющее авторами возможность осуществить питчинг своих оригинальных проектов в области создания диджитал и аудиовизуального контента в целях поиска финансирования для Проекта, а Инвесторам – возможность инвестировать в различные Проекты. 

  </p>
  <p>
    1.11.
    <b>Участник</b>
    – физическое лицо, разрабатывающее оригинальный цифровой или медиапродукт или аудиовизуальный контент и принимающее участие в Выпуске Шоу посредством Питча в целях получения финансирования для своего Проекта. Участниками могут быть дееспособные физические лица, достигшие 18 лет.

  </p>
  <p>
    В случае использования в содержании настоящего Соглашения терминов, не истолкованных в Статье 1, определение таких терминов осуществляется исходя из смысла текста Соглашения. В случае отсутствия возможности однозначного толкования следует руководствоваться толкованием терминов, принимая во внимание следующие приоритеты: в первую очередь — законодательство РФ и нормы международного права, во вторую очередь — сложившуюся практику употребления терминов в сети Интернет, бизнес-практику. 

  </p>
  <p><b>2. ПРЕДМЕТ НАСТОЯЩЕГО СОГЛАШЕНИЯ И УСЛОВИЯ ЕГО ЗАКЛЮЧЕНИЯ</b></p>
  <p>
    2.1. Настоящее Соглашение является офертой, предложением Организатора принять участие в Шоу, и определяет правовые отношения, возникшие между Участником и Организатором в процессе проведения Шоу. Актуальная версия настоящего Соглашения размещена Организатором на веб-сайте <a href="https://dreamapp.screenlife.com/">https://dreamapp.screenlife.com/</a>.
  </p>
  <p>
    2.2. Настоящее Соглашение может быть заключено как путем его подписания Сторонами, так и посредством его акцепта Участником, выраженного (1) в принятии условий настоящего Соглашения на веб-сайте <a href="https://dreamapp.screenlife.com/">https://dreamapp.screenlife.com/</a> или (2) в совершении действий по началу выполнения указанных в настоящем Соглашении условий. 

  </p>
  <p>
    2.3. Настоящее Соглашение является смешанным договором в соответствии с ч. 3 ст. 421 ГК РФ. К отношениям Сторон, если это не противоречит настоящему Соглашению и его неотъемлемым частям, в соответствующих частях применяются правила гражданского законодательства о договорах, элементы которых содержатся в настоящем Соглашении (включая, когда применимо, об оказании услуг, об агентировании, об интеллектуальной собственности и т.п.).

  </p>
  <p>
    2.4. Организатор не гарантирует получение Участником Поддержки Инвестора.
  </p>
  <p>
    2.5. Настоящим Участник подтверждает, что достаточным и ценным для Участника встречным представлением по настоящему Соглашению является возможность участия в записи Шоу (при этом, Организатор не обязан использовать материалы записи, содержащие изображение Участника и /или информацию о Проекте), а также возможность презентовать свой Проект перед Инвесторами.

  </p>
  <p>
    2.6. Для участия в Шоу Участнику необходимо предоставить информацию о Проекте, отправить все материалы посредством электронных средств связи представителям Организатора, прикрепив файл, содержащий описание Проекта (текстовый документ TXT или DOC, видеофайл MOV, AVI или MP4, PDF). 

  </p>
  <p>
    Организатор не ограничивает Участников в выборе жанра и темы, однако по содержанию Шоу задание обязательно должно быть связанно с созданием контента (тематика устанавливается непосредственно Организатором). Содержание Проекта и Питча, сюжет, действие персонажей не должны противоречить законодательству Российской Федерации. 

  </p>
  <p>В Проекте и Питче, представляемых на Шоу, не должно быть: 
  </p>
  <ul>
    <li>
      имен авторов, указания адресов и телефонов, информации о спонсорах, имен политических деятелей и лидеров, имен духовных учителей, названий религиозных движений, в том числе религиозной символики, названий и упоминаний (логотипов, брендов) товарной рекламы, любых форм упоминаний политических партий, политических лозунгов, высказываний, несущих антигосударственный и антиконституционный смысл; 

    </li>
    <li>
      изображений: интимных сцен, всех видов нацистской (в т.ч. свастики) и экстремистской символики, насилия, дискриминации, вандализма, отражающих телесные страдания людей и животных; текстов, сцен, звуковых эффектов, указывающих на ощущения и переживания страха, стресса или агонии; информации, в любой форме унижающей достоинство человека или отдельной национальной, религиозной или социальной группы людей. 

    </li>
  </ul>
  <p>
    2.7. Заключая настоящее Соглашение, Участник дает настоящим согласие, а также, если применимо, обязуется получить от авторов физических лиц согласие на (i) публикацию (обнародование) материалов Проекта; (ii) анонимное использование Проекта; (iii) право на внесение изменений в Проект (в том числе редактуру, сокращение, фрагментарное использование, в том числе отдельно аудио от видео ряда и другие изменения). 

  </p>
  <p>
    2.8. Принимая участие в Шоу, Участник подтверждает, что полностью ознакомлен и согласен: 

  </p>
  <ul>
    <li>
      на размещение в сети Интернет по адресам, по усмотрению Организатора, информации об Участнике, в том числе его изображения, всех и любых охраноспособных объектов, вошедших составной частью в Проект, так и Проект целиком, в случае его победы в Шоу/ в период записи Шоу, в любой последующий период времени, на усмотрение Организатора; 

    </li>
    <li>
      на участие в рекламных интервью об участии в Шоу, в том числе для радио и телевидения, а равно для иных средств массовой информации, веб-ресурсах, социальных сетях, а также – на осуществление Организатором и/или третьими лицами по заданию Организатора фото- и видеосъемки Участников, а также – на использование созданных фото- и видеозаписей с Участником в любой форме и любыми способами, предусмотренными законодательством РФ, включая, но не ограничиваясь, публичное исполнение, сообщение в эфир и сообщение по кабелю, воспроизведение, доведение до всеобщего сведения, в том числе размещение в сети Интернет, распространение с помощью мобильной связи, в том числе в виде отдельных фрагментов (фрагментарное использование,  в том числе отдельно аудио – и видео ряд ) и переработку (в том числе для создания анонсов (рекламы) Шоу, в том числе для анонсов и/или в составе продолжения Шоу, иных производных от Шоу произведений) без получения дополнительного согласия на такое использование и без уплаты какого-либо вознаграждения за такое использование, в том числе в средствах массовой информации, в рекламных целях, с правом передачи права использования указанных фото- и видеозаписей с Участником третьим лицам для использования отдельно от Шоу, так и в составе смонтированной аудиовидеозаписи Шоу (киножурнал Шоу). При этом, Организатор вправе использовать такую смонтированную (по собственному усмотрению) аудиовидеозапись Шоу всеми существующими в настоящий момент, а также могущими возникнуть в будущем способами, включая, но не ограничиваясь – способами, установленными ст.1270 ГК РФ.

    </li>
    <li>
      на разрешение использования никнейма, аватара Участника, контента личных аккаунтов в социальных сетях Участника, в том числе Instagram, для интеграции в Шоу; 

    </li>
    <li>
      на осуществление Организатором, а также уполномоченными им лицами сбора, обработки (в том числе с применением автоматизированных средств), хранения, использования, распространения в целях исполнения условий настоящего Соглашения указанных данных Участников с соблюдением необходимых мер защиты таких данных от несанкционированного распространения в соответствии с пунктом 5 настоящего Соглашения; 

    </li>
    <li>
      гарантирует, что ни он, ни третье лицо не будут препятствовать использованию Питча / элементов Проекта и не потребуют никакой платы от Организатора и/или его аффилированных лиц, а также подтверждает свои осведомленность и согласие с тем, что на основании настоящего Соглашения Организатор не обязан делать в пользу Участника за участие в Шоу никаких платежей.   
    </li>
  </ul>
  <p><b>3. ПРАВА И ОБЯЗАННОСТИ СТОРОН</b></p>
  <p><b>3.1. Участник вправе: </b></p>
  <p>
    3.1.1. Принять участие в Шоу, надлежащим образом присоединившись к условиям настоящего Соглашения. 

  </p>
  <p>
    3.1.2. В срок не позднее одной календарной недели до момента фактической съемки Шоу отказаться от участия в Шоу путем сообщения Организатору о таком отказе по электронной почте на адрес, указанный в настоящем документе. Отказом также признается несовершение Участником действий, обязательно предусмотренных для каждого этапа Шоу. 

  </p>
  <p><b>3.2. Участник обязан: </b></p>
  <p>
    3.2.1. Следовать установленным Организатором Правилам Шоу и условиям настоящего Соглашения. 

  </p>
  <p>
    3.2.2. Предоставить согласие на участие в съемке и дальнейшее использование фото- и видеоизображения в составе Шоу.

  </p>
  <p>
    3.2.3. При регистрации на Шоу предоставить верную и достаточную информацию для своей идентификации и установления обратной связи. 

  </p>
  <p>
    3.2.4. Предоставить в установленный срок настоящим Соглашением необходимые документы в целях участия в Шоу. В случае отказа предоставить Организатору требуемые документы, Организатор вправе отказать Участнику в участии на любом из этапов Шоу. 

  </p>
  <p>
    3.2.5. Не нарушать правила пользования сайтом Организатора и информационных партнеров Шоу. 

  </p>
  <p>
    3.2.6. Быть автором, соавтором либо правообладателем Проекта и входящих в него элементов. 

  </p>
  <p>3.2.7. Самостоятельно нести все расходы, связанные с участием в Шоу. 
  </p>
  <p><b>3.3. Организатор вправе: </b></p>
  <p>
    3.3.1. При наличии достаточных оснований, свидетельствующих о недобросовестности действий Участника, об обмане, мошенничестве, а также нарушении/попытке нарушения Участником условий настоящего Соглашения, в том числе попытках повлиять на результаты подведения итогов Шоу посредством технических, программных или других средств, отстранить любого Участника от участия в Шоу.

  </p>
  <p>
    3.3.2. Размещать на своих веб-ресурсах и\или страницах посвященных Шоу/ трансляции Шоу информацию об Участниках, в том числе использовать изображение Участников (ст.152.1 ГК РФ) и их имя в рамках Шоу, а также для его анонсирования и /или рекламирования, а также в рамках производства последующих сезонов Шоу. 

  </p>
  <p>
    3.3.3. Отказать Участнику в признании его победителем и аннулировать результаты участия в Шоу в следующих случаях: 

  </p>
  <ul>
    <li>предоставления недостоверной информации.</li>
    <li>
      выявление в действиях Участника попыток нарушить функционирование системы Организатора и/или изменить результаты Шоу/ нарушение Правил Шоу. 
    </li>
    <li>
      по иным основаниям, которые могли создать препятствия Организатору в проведении Шоу, реализации Правил Шоу. 

    </li>
  </ul>
  <p>
    3.3.4. Изменять Правила Шоу или отменить Шоу по любому основанию. Уведомление Участников об изменении Правил Шоу или отмене Шоу производится путем уведомления Участника по электронной почте, указанной при регистрации Участника. 

  </p>
  <p><b>3.4. Организатор обязан: </b></p>
  <p>3.4.1. Соблюдать условия настоящего Соглашения, а также – Правила Шоу.  
  </p>
  <p>
    3.4.2. Создать для всех Участников равные условия допуска и участия в Шоу в соответствии с Соглашением и Правилами Шоу. 

  </p>
  <p>
    3.4.3. Уведомлять Участников о дате, времени, месте, сценарии Шоу посредством электронных каналов связи (электронной почты, мессенджеров).

  </p>
  <p>3.4.4. Самостоятельно нести расходы по подготовке и проведению Шоу. 
  </p>
  <p>
    3.4.5. Направить Участнику Протокол (при условии его подписания Инвестором) в разумный срок после окончания съемки Выпуска Шоу посредством электронных средств связи. 

  </p>
  <p><b>4. ПЕРСОНАЛЬНЫЕ ДАННЫЕ</b></p>
  <p>
    4.1. Заключая настоящее Соглашение, Участник дает свое согласие Организатору на совершение следующих действий (операций) с Персональными данными как с использованием средств автоматизации, так и без них: сбор, запись, систематизацию, накопление, хранение, обработку, передачу третьим лицам (включая трансграничную передачу аффилированным лицам Организатора) своих персональных данных в целях исполнения Соглашения.

  </p>
  <p>4.2. Персональные данные включают в себя:</p>
  <ul>
    <li>фамилию, имя, отчество (при наличии);</li>
    <li>
      почтовый адрес, страна, адрес регистрации и/или адрес проживания и/или адрес временного пребывания;

    </li>
    <li>
      паспортные и иные данные: дата рождения, место рождения, номер, серия паспорта, дата выдачи, орган выдачи, код подразделения (при наличии), срок действия (при наличии), информация об идентификационном документе, национальность, гражданство, сведения свидетельства о постановке на учет в налоговом органе физического лица (ИНН), страхового свидетельства обязательного пенсионного страхования (СНИЛС), банковские реквизиты;

    </li>
    <li>
      контактные данные: номер телефона, адрес электронной почты; никнейм, аватар Участника, контент личных аккаунтов в социальных сетях Участника, в том числе Instagram, TikTok, YouTube и др.

    </li>
    <li>
      данные Участника как индивидуального предпринимателя (при наличии): свидетельство о государственной регистрации физического лица в качестве индивидуального предпринимателя (ОГРН), лист записи государственной регистрации физического лица в качестве индивидуального предпринимателя, банковские реквизиты и т.д.;

    </li>
    <li>сведения о творческой деятельности;</li>
    <li>сведения о биографии, профессиональной деятельности;</li>
    <li>фотоизображения, видеоизображения Участника;</li>
    <li>
      иные сведения, необходимые для выполнения Организатором своих обязательств
      по Соглашению и/или запрашиваемые Инвесторами.
    </li>
  </ul>
  <p>
    4.3. Согласие на сбор, хранение, обработку и передачу персональных данных дается Участником до полного исполнения обязательств Сторонами.

  </p>
  <p>
    4.4. Согласие может быть отозвано в любой момент путем направления письменного уведомления Организатору.

  </p>
  <p>
    4.5. Сбор, хранение, обработка, передача третьим лицам данных осуществляется с целью:

  </p>
  <ul>
    <li>
      обеспечения соблюдения требований законодательства Российской Федерации;
    </li>
    <li>оформления и регулирования отношений Сторон по Соглашению.</li>
  </ul>
  <p>
    <b>5. ОТВЕТСТВЕННОСТЬ СТОРОН. ОГРАНИЧЕНИЕ ОТВЕТСТВЕННОСТИ ОРГАНИЗАТОРА </b>
  </p>
  <p>
    5.1. За неисполнение или ненадлежащее исполнение обязательств настоящего Соглашения Участники несут ответственность в соответствии с действующим законодательством Российской Федерации и условиями настоящего Соглашения. Организатор несет ответственность исключительно в случае наличия умышленного нарушения обязательств по настоящему Соглашению, если законом или настоящим Соглашением не предусмотрены иные ограничения и только в рамках возмещения прямого действительного ущерба. 

  </p>
  <p>
    5.2. Стороны подтверждают и признают, что любые меры, предпринятые каким-либо компетентным судом, уполномоченным органом власти или третьим лицом в отношении Организатора, могут создать препятствия последнему в исполнении своих обязательств в соответствии с Соглашением, и будут являться обстоятельством, освобождающим Организатора от ответственности за просрочку в исполнении в течение всего такого периода времени, пока указанные меры остаются в силе. 

  </p>
  <p>
    5.3. Если по какой-либо причине онлайн платформа Шоу не доступна для Участника, включая причины, связанные с ошибками программного обеспечения, умышленным несанкционированным вмешательством третьих лиц, мошенническими действиями, техническими неполадками внутренней сети или по каким— либо иным причинам, Организатор оставляет за собой право отменить, завершить, изменить или приостановить Шоу. 

  </p>
  <p>
    5.4. Организатор не несет ответственности за неполучение от Участника необходимых сведений и уведомления участников из-за технических проблем каналов связи, используемых при проведении Шоу. 

  </p>
  <p>
    5.5. Организатор не несет ответственности за невозможность осуществления связи с Участником из-за неверно указанных или неактуальных контактных данных Участника.

  </p>
  <p>
    5.6. Организатор не несет ответственности за следующие действия и любые последствия, с ними связанные: 

  </p>
  <ul>
    <li>
      неисполнение (несвоевременное исполнение) Участником своих обязанностей, предусмотренных настоящим Соглашением и договором между Участником с Инвестором, несоблюдение Участником Правил Шоу; 

    </li>
    <li>
      неполучение Участником уведомления об участии или результатах Шоу по причине указания Участником недостоверной или неполной информации при регистрации;
    </li>
    <li>
      технические (системные) сбои и другие неполадки провайдеров, предоставляющих услуги доступа в Интернет Участникам;  

    </li>
    <li>
      частичное или полное неисполнение обязательств, если это неисполнение явится следствием действия обстоятельств непреодолимой силы, то есть не зависящих от воли сторон препятствий, делающих исполнение обязательств невозможным; 

    </li>
    <li>
      неисполнение либо ненадлежащее исполнение своих обязательств, явившееся результатом сбоев в телекоммуникационных и энергетических сетях, а также недобросовестных действий третьих лиц, направленных на несанкционированный доступ и/или выведение из строя программного и/или аппаратного комплекса Организатора; 
    </li>
    <li>
      любой ущерб, понесенный Участником в связи с подготовкой к проведению Шоу или проведением Шоу. 

    </li>
  </ul>
  <p>
    5.7. Организатор не несет ответственности перед Участником за отказ Инвестора от принятых на себя обязательств по поддержке понравившегося Проекта. 

  </p>
  <p>
    5.8. Организатор не несет ответственности по условиям и дальнейшим взаимоотношениям между Инвестором и Участником. Участник и Инвестор самостоятельно определяют условия взаимного сотрудничества. 

  </p>
  <p>
    5.9. Организатор не несет ответственности по обязательствам, связанным с заключением и исполнением Инвестором своих обязанностей, предусмотренных соглашением между Участником и Инвестором. 

  </p>
  <p>
    5.10. В случае возникновения конфликтов, связанных с нарушениями прав и законных интересов третьих лиц, Участник решает их в одностороннем порядке – самостоятельно несет ответственность за нарушение им любых прав сторонних правообладателей. 

  </p>
  <p>
    5.11. Если по какой-либо причине Шоу в любой части не может проводиться так, как это запланировано, включая причины, вызванные неполадками в сети Интернет, дефектами, манипуляциями, несанкционированным вмешательством, фальсификацией, техническими неполадками, юридическими обстоятельствами или ограничениями или любой причиной, не контролируемой Организатором, которая искажает или затрагивает исполнение, безопасность, целостность или надлежащее проведение Шоу, Организатор может по своему единоличному усмотрению временно приостановить проведение Шоу (в этом случае срок проведения Шоу будет соразмерно увеличен на срок приостановления проведения Шоу) или отказаться от проведения Шоу без какой-либо ответственности перед Участником. 

  </p>
  <p><b>6. ГАРАНТИИ И ЗАВЕРЕНИЯ СТОРОН</b></p>
  <p>
    6.1. Стороны гарантируют соответствие действительности Преамбулы настоящего Соглашения в части, касающейся их компетенции, опыта и экспертизы, и понимают, что другая Сторона опирается на корректность указанной гарантии. 

  </p>
  <p>
    6.2. Стороны гарантируют, что на момент заключения настоящего Соглашения они не связаны никакими обязательствами и им неизвестны никакие обстоятельства, которые препятствуют им заключить настоящее Соглашение и надлежащим образом исполнить все принятые по нему на себя обязательства.
  </p>
  <p>6.3. Каждая Сторона гарантирует и заявляет, что:
  </p>
  <p>6.3.1 она свободна в заключении и исполнении настоящего Соглашения;
  </p>
  <p>
    6.3.2. она не имеет юридического запрета, пресечения или ограничения правоспособности, обладает всеми необходимыми возможностями, правами и полномочиями для заключения настоящего Соглашения и совершения предусмотренных им действий;

  </p>
  <p>
    6.3.3. для заключения настоящего Соглашения ей не требуются какие-либо разрешения, одобрения, согласования или уведомления, а также совершение прочих подобных формальностей, а если таковые были необходимы, то все такие разрешения, одобрения, согласования или уведомления были получены, формальности совершены надлежащим образом, в установленные сроки и порядке.

  </p>
  <p>
    6.4. Участник, высылающий Питч / элементы Проекта на участие в Шоу и/или предоставляющий презентацию непосредственно Организатору для последующей демонстрации и публикации в рамках Шоу, тем самым подтверждает наличие у него исключительного права на Питч / элементы Проекта в объеме, достаточном для исполнения настоящего Соглашения.

  </p>
  <p>
    6.5. Участник гарантирует, что является законным правообладателем всех охраноспособных объектов, входящих в состав Проекта / Питча, и что их использование в составе Шоу  или рекламных материалов Шоу не образует собой нарушение каких-либо прав третьих лиц. 

  </p>
  <p>
    6.6. Участник гарантирует, что им получены все необходимые разрешения от всех третьих лиц, в том числе от авторов охраноспособных объектов, входящих в состав Проекта, на совершение следующих действий: обнародование таких результатов интеллектуальной деятельности; внесение в них изменений, сокращений, дополнений, и изменений другого характера; анонимное использование охраноспособных произведений, авторами которых являются третьи лица; использование таких произведений всеми не запрещенными способами согласно ГК РФ, а также способами, которые могут возникнуть в будущем. В случае, если с авторами-физическими лицами заключены лицензионные договоры (или планируются к заключению лицензионные договоры), то такие договоры должны подразумевать территорию использования – все страны мира, без исключения, срок использования – весь период охраны авторского и/или смежного права на такие произведения. 
  </p>
  <p>
    6.7. Участник заверяет и гарантирует, что не будет обнародовать Проект, не будет демонстрировать его каким-либо третьим лицам, а также не будет осуществлять иных действий, которые могут изменить инвестиционную привлекательность Проекта для Инвесторов. Все и любые решения в отношении креатива, бизнес решения в отношении Проекта Участник может принимать исключительно после одобрения Инвесторов, которые осуществляют финансирование Проекта. 
  </p>
  <p>
    6.8. До момента окончания процедуры оформления финансовых вкладов Инвесторов в Проект, Участник не вправе регистрировать какие-либо товарные знаки, доменные имена, связанные с Проектом, не поставив в известность Инвесторов. 

  </p>
  <p><b>7. ПЕРЕДАЧА ПРАВ НА ЭЛЕМЕНТЫ ПРОЕКТА И ПИТЧ</b></p>
  <p>
    7.1. Участник предоставляет Организатору следующие права в отношении Питча и элементов Проекта: 

  </p>
  <p>
    7.1.1. право опубликовывать Питч / элементы Проекта под фирменным наименованием, производственной маркой и товарным знаком Организатора Шоу и/или Шоу – “DreamApp”. 

  </p>
  <p>
    7.1.2. право на обнародование Питча / элементов Проекта, т. е. на сообщение презентации Проекта в какой-либо форме или каким-либо способом неопределенному кругу лиц. 

  </p>
  <p>
    7.1.3. право на воспроизведение Питча / элементов Проекта (дублирование, тиражирование или иное размножение, т. е. неоднократное придание Питчу / элементам Проекта объективной формы, допускающей его функциональное использование) в любом количестве экземпляров; 

  </p>
  <p>
    7.1.4. право на распространение Питча / элементов Проекта любым способом путем реализации размноженных материальных носителей среди конечных пользователей (потребителей, осуществляющих функциональное использование) в любых странах мира; 

  </p>
  <p>
    7.1.5. право на переработку Питча / элементов Проекта: создание на их основе нового, творчески самостоятельного произведения, внесение изменений, не представляющих собой его переработку, включая, но не ограничиваясь, – включение в состав с целью создания оригинального аудиовизуального произведения на основе Шоу – киножурнала Шоу, исключительное право на которое в полном объеме отчуждается Организатору с момента фактической записи Шоу (что не требует подписания отдельных подтверждающих документов); 

  </p>
  <p>7.1.6. право на перевод Питча / элементов Проекта; 
  </p>
  <p>
    7.1.7. право на публичное использование Питча / элементов Проекта и демонстрацию в информационных, рекламных и прочих целях, в том числе фрагментарно; 

  </p>
  <p>
    7.1.8. право на сообщение Питча / элементов Проекта в эфир и/или по кабелю (в том числе, путем ретрансляции); 

  </p>
  <p>
    7.1.9. право на доведение Питча / элементов Проекта до всеобщего сведения посредством сети Интернет на ресурсах по выбору Организатора; 

  </p>
  <p>
    7.1.10. право на включение Питча / элементов Проекта и/или их фрагментов в состав новых сложных объектов, включая аудиовизуальные произведения, программы для ЭВМ, сборники / энциклопедии. 

  </p>
  <p>
    7.2. В случае, если Проект не получит поддержку Инвесторов, то указанные в п. 7.1 права передаются от Участника Организатору на неисключительной основе (неисключительная лицензия) на срок проведения Шоу на территорию стран всего мира, а от победителей Шоу (Участников, которые были выбраны Инвесторами) – на исключительной основе (исключительная лицензия) на территорию стран всего мира на срок действия авторского права на создаваемое произведение – Питч, киножурнал Шоу. Организатор вправе переуступить на договорных условиях часть полученных по настоящему Соглашению прав третьим лицам. Поскольку Участнику предоставляется возможность участия в Шоу, все права и разрешения, предусмотренные настоящим Соглашением, предоставляются Участником Организатору без возникновения у Организатора обязанности платить Участнику какое-либо вознаграждение. 

  </p>
  <p>
    Срок передаваемых прав начинает течь с момента, когда Участник предоставил Питч Организатору, если иное прямо не указано в настоящем Соглашении. 
  </p>
  <p><b>8. ПРИМЕНИМОЕ ПРАВО И ПОРЯДОК РАЗРЕШЕНИЯ СПОРОВ </b></p>
  <p>
    8.1. Правила, в том числе права и обязанности Сторон, регулируются и толкуются в соответствии с правом Российской Федерации без учета его коллизионных норм. 

  </p>
  <p>
    8.2. В случае возникновения любых споров или разногласий, связанных с исполнением настоящего Соглашения, Стороны приложат все усилия для их разрешения путем переговоров. Стороны обязуются до обращения в любые органы, разрешающие споры, предпринять все возможные меры для урегулирования любых разногласий в досудебном порядке. 

  </p>
  <p>
    8.3. Претензии Участников принимаются Организатором к рассмотрению, если они направлены не позднее 10 (десяти) календарных дней с даты окончания Шоу. Претензия Участника рассматривается в течение 3 (трех) месяцев с момента ее получения Организатором. В случае отсутствия от Организатора ответа на претензию в течение установленного срока претензия считается отклоненной. 

  </p>
  <p>
    8.4. Если возникший спор и разногласия не будут разрешены путем переговоров, они подлежат разрешению в суде по месту нахождения Организатора. 

  </p>
  <p><b>9. ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ</b></p>
  <p>
    9.1. Уведомление Участника обо всех значимых событиях Шоу осуществляется посредством электронных средств связи.
  </p>
  <p>
    9.2. Любые изменения и дополнения к настоящему Соглашению действительны лишь при условии, что они совершены в письменной форме и подписаны уполномоченными на то представителями Сторон. 

  </p>
  <p>
    9.3. Настоящее Соглашение составлено в двух экземплярах на русском языке. Оба экземпляра идентичны и имеют одинаковую силу по одному для каждой из Сторон.

  </p>
  <p>
    9.4. Стороны могут подписывать соглашение, приложения и иные документы путем обмена отсканированными копиями по электронной почте по следующим адресам:

  </p>
  <p>Email Организатора: dreamapp@screenlifer.com</p>
  <p>Email Участника</p>
  <p>
    Такие документы считаются подписанными простой электронной подписью и
    приравниваются к документам на бумажном носителе.
  </p>
  <p>
    9.5. Стороны договорились, что при необходимости немедленного решения какого-либо вопроса касательно любого из аспектов настоящего Соглашения, взаимодействие между Сторонами может осуществляться также с помощью иных средств коммуникации, включая мессенджеры, позволяющие однозначно идентифицировать получателя и отправителя (Telegram, WhatsApp и пр).  

  </p>
  <p>10. РЕКВИЗИТЫ СТОРОН</p>

  <p>Полное наименование Общество с ограниченной ответственностью «Студия Скринлайф»  
  </p>
  <p>Телефон, факс 8 (495) 223-04-00
  </p>
  <p>EMAIL представителя: dreamapp@screenlifer.com</p>
  <p>Регистрация ОГРН 1147746357054
  </p>
  <p>Генеральный директор Фазрахманова Э.З.</p>
  <p>Паспортные данные<sup>1</sup>:</p>
  <p>ФИО</p>
  <p>
    Паспорт серия ______________ номер_______________, Выдан
    _______________________, дата выдачи: _________________,
  </p>
  <p>Адрес регистрации: _____________________________________________</p>
  <p>Фактический адрес: _______________________________________________</p>
  <p>Контактный телефон: _____________________</p>
  <p>
    ______________ /______________________________________________/<br />Подпись
  </p>
  <hr />
  <p><sup>1</sup> Подлежит заполнению в оригинале документа</p>
  <hr />
  <p class="right">
    Приложение № 1 к Соглашению об участии 

    <br />в онлайн шоу “DREAMAPP” «20» октября 2020 года, г. Москва

  </p>
  <h2 class="center"><b>Правила Шоу «DreamApp»
  </b></h2>
  <p class="right">«20» октября 2020 года, г. Москва
  </p>
  <p>
    <b>Участник, Инвестор, Пушер, подписавший Согласие на участие в Шоу, подтверждает/ ют, что он/они безоговорочно согласен/ согласны со следующими Правилами Шоу: 

    </b>
  </p>
  <p><b>1. Этапы проведения Шоу
  </b></p>
  <p>Шоу проводится в два этапа.</p>
  <p>
    <b>В ходе первого этапа</b>
    Участник присылает Организатору Питч. Организатор осуществляет выбор Проекта для участия в Шоу. 
  </p>
  <p>
    <b>На втором этапе</b>
    в ходе проведения Шоу онлайн путем трансляции в сети Интернет или без таковой к оценке Питча присоединяются Инвесторы. 

  </p>
  <p>
    Примерный временной промежуток проведения Выпуска Шоу составляет 1 (Один)
    час<sup>2</sup>.
  </p>
  <p>
    Время одного Питча определяется Организатором не позднее 2 календарных дней до даты съемок Выпуска Шоу и доводится до сведения Участника, Инвестора и Пушера.

  </p>

  <p>Участник представляет свой Проект Инвесторам.
  </p>
  <p>
    По каждому Проекту голосуют Инвесторы и аудитория Пушеров, если применимо в каждом конкретном выпуске. 

  </p>
  <p>
    После чего Инвестор и Участник обсуждают возможную долю участия Инвестора в Проекте Участника. Участник и Инвестор самостоятельно определяют условия взаимного сотрудничества.

  </p>
  <p>
    Фиксация факта проведения Шоу осуществляется посредством видеозаписи соответствующего Выпуска Шоу. Шоу признается состоявшимся и завершенным после того, когда определены результаты второго этапа Шоу. Результаты проведения Шоу являются окончательными и не подлежат пересмотру.
  </p>
  <p>
    <b>2. Порядок принятия решения об инвестировании в Проект и его фиксация
    </b>
  </p>
  <p>
    2.1. Инвесторы, соглашаясь принять участие в Шоу, обязуются осуществить действия, о которых будет заявлено в период съемки Шоу: объявить о своем согласии осуществить денежный вклад в Проект, заключить определенную сделку, иным образом поддержать понравившийся Проект. 

  </p>
  <p>
    2.2. Фактом принятия на себя обязательства является определенным недвусмысленным образом высказанное намерение в период осуществления съемки Шоу (вербально или невербально).

  </p>
  <p><b>3. Дальнейшее развитие Проекта</b></p>
  <p>
    3.1. Правоотношения между Инвестором и Участником после определения доли участия в Проекте происходит на основании отдельного договора, подписываемого Участником с Инвестором. Организатор не является стороной данного договора и не несет ответственность по условиям и дальнейшим взаимоотношениям между Инвестором и Участником. 
  </p>
  <p><b>4. Прочие положения</b></p>
  <p>
    4.1. Организатор вправе предоставить Участнику участие в акселераторе Проектов. Такое предложение об участии не зависит от результатов проведения Шоу и является исключительной прерогативой Организатора. Положение об участии в акселераторе Участник и Организатор оформляют отдельно, но по согласованию с Инвесторами, принявшими решение об инвестировании в Проект. 
  </p>
  <hr />
  <p>
    <sup>2</sup>
    Применимо в случае проведения Шоу посредством трансляции в реальном времени
    для широкого круга лиц.
  </p>
</div>
<Spacer size={40} />

<style>
  .rules {
    color: white;
    background: rgba(255, 255, 255, 0.03);
    border-radius: 12px;
    padding: 24px;
    font-weight: 200;
  }
  .center {
    text-align: center;
  }
  .right {
    text-align: right;
  }
  h2 {
    text-transform: uppercase;
  }
  p, li {
    font-size: 12px;
  }
</style>
