<script>
  import Spacer from "components/Spacer.svelte";
  import Investors from 'components/Investors/Index.svelte'
</script>

<section>
  <div class="glitchText title">Инвесторы</div>
  <Spacer size={24} />
  <Investors onlyRecent/>
  <Spacer size={20} />
  <div class='more'><a href="/investors"><button>Смотреть всех</button></a></div>
</section>

<style>
  section{
    overflow: hidden;
  }
  
  .glitchText {
    font-family: "Arturito";
    font-weight: bold;
    font-size: 16px;
    line-height: 119.5%;
    text-transform: uppercase;
    color: #ffffff;
    text-shadow: 1px 1px 0px #03c4d8, -1px -1px 0px #f21cbb;
    text-decoration: none;
  }
  .title {
    font-size: 26px;
    text-shadow: 2px 2px 0px #03c4d8, -2px -2px 0px #f21cbb;
    text-align: center;
  }
  button {
    width: 100%;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 119.5%;

    text-align: center;
    text-transform: uppercase;

    color: #ffffff;
    border-radius: 10px;
    padding: 11px 16px;
    border: none;
    outline: none;
    cursor: pointer;
    background: transparent;
    border: 2px solid #fff;
  }
  .more{
    display: flex;
    justify-content: center;
  }
  .more a{
    width: 100%;
  }
</style>
