
@font-face {
	font-family: "roboto";
	font-style: normal;
	font-weight: 400;
	src: url("./fonts/roboto-regular-webfont.woff2") format("woff2"); }
  
  @font-face {
	font-family: "roboto";
	font-style: italic;
	font-weight: 400;
	src: url("./fonts/roboto-italic-webfont.woff2") format("woff2"); }
  
  @font-face {
	font-family: "roboto";
	font-style: normal;
	font-weight: 700;
	src: url("./fonts/roboto-bold-webfont.woff2") format("woff2"); }
  
  @font-face {
	font-family: "roboto";
	font-style: italic;
	font-weight: 700;
	src: url("./fonts/roboto-bolditalic-webfont.woff2") format("woff2"); }
  
  @font-face {
	font-family: "Arturito";
	font-style: normal;
	font-weight: 700;
	src: url("./fonts/Arturito.woff2") format("woff2"); }
  
  @font-face {
	font-family: "Bender";
	font-style: normal;
	font-weight: 400;
	src: url("./fonts/bender.woff2") format("woff2"); }
  
  @font-face {
	font-family: "Bender";
	font-style: normal;
	font-weight: 700;
	src: url("./fonts/benderbold.woff2") format("woff2"); }
  
  @font-face {
	font-family: "Bender";
	font-style: normal;
	font-weight: 900;
	src: url("./fonts/benderblack.woff2") format("woff2"); }

	.root {
		display: flex;
    	flex-direction: column;
		background: url(/assets/bg1.svg) left top no-repeat,
		  url(/assets/bg2.svg) right top no-repeat,
		  linear-gradient(180deg, #2c0341 0%, #571756 100%),
		  linear-gradient(180deg, #571756 0%, #822b6a 100%);
		  min-height: 100vh;
	  }
html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}
