<script>
  import Spacer from "components/Spacer.svelte";
  let data = [];
  export let onlyRecent = false;
  new Promise((resolve, reject) => {
    setTimeout(
      () =>
        resolve([
          {
            image: "/assets/investors/akopov.png",
            name: "Александр Акопов",
            description: "Продюсер кино и телевидения",
            fact: "",
          },
          {
            image: "/assets/investors/rybakov.png",
            name: "ИГОРЬ РЫБАКОВ",
            description: "Управляющий партнёр корпорации «Технониколь»",
            fact: "Входит в сотню богатейших людей России",
          },
          {
            image: "/assets/investors/fedorovich.png",
            name: "Валерий Федорович",
            description: "Руководитель Premier Studios и телеканала ТВ3",
            fact: "",
          },
          
          {
            image: "/assets/investors/bogdanov.png",
            name: "Рустем Богданов",
            description: "Cооснователь «Продюссерского центра»",
            fact: "",
          },

          {
            image: "/assets/investors/volkov.png",
            name: "Евгений Волков",
            description: "Креативный партнер Salem Social Media",
            fact: "",
          },
          {
            image: "/assets/investors/1.png",
            name: "Тимур Бекмамбетов",
            description: "Режиссер, продюсер, основатель кинокомпании Bazelevs",
            fact: "Самый кассовый российский продюсер",
          },
          {
            image: "/assets/investors/mishin.png",
            name: "Игорь Мишин",
            description: "Генеральный директор «МТС Медиа»",
            fact: "",
          },
          {
            image: "/assets/investors/faiziev.png",
            name: "Джаник Файзиев",
            description: "Режиссер, продюсер",
            fact: "",
          },
          {
            image: "/assets/investors/kalinkin.png",
            name: "Антон Калинкин",
            description: "Основатель Chill",
            fact: "",
          },
          {
            image: "/assets/investors/malkov.png",
            name: "Георгий Малков",
            description: "Генеральный продюсер Megogo",
            fact: "",
          },
         
         
          
          
          {
            image: "/assets/investors/kvashilava.png",
            name: "СОФЬЯ КВАШИЛAВА",
            description: "Экс-генеральный продюсер Okko Entertainment",
            fact: "Продюсер оригинального контента на русском «Нетфликсе»",
          },
         
          {
            image: "/assets/investors/goldman.png",
            name: "Артём Голдман",
            description: "IT-предприниматель, основатель проекта Visabot",
            fact: "",
          },


          {
            image: "/assets/investors/nikishov.png",
            name: "ЕВГЕНИЙ НИКИШОВ",
            description: "Руководитель Premier Studios и телеканала ТВ3",
            fact: "Знает секрет успеха самых популярных российских сериалов",
          },
          {
            image: "/assets/investors/kocharov.png",
            name: "ДАВИД КОЧАРОВ",
            description: "Генеральный продюсер ivi",
            fact: "Делает контент для крупнейшего онлайн-кинотеатра России",
          },
          
        ]),
      0
    );
  }).then((res) => {
    data = res;
  });
  $: investors = onlyRecent ? data.slice(0, 5) : data;
</script>

<div class="sectionDescription">
  Акулы бизнеса и медиа, добившиеся успеха, знающие, как делать популярные
  проекты. На шоу они решают, инвестировать в проект или отказать
</div>
<Spacer size={24} />
<div class="investors">
  {#each investors as { image, name, description, fact }}
    <div class="investorWrapper">
      <div class="investor">
        <img src={image} alt="investor" class="investorImage" />
        <Spacer size={12} />
        <div class="investorName glitchText">{name}</div>
        <Spacer size={16} />
        <div class="descriptionText">{description}</div>
        <!-- <Spacer size={12} />
            <div class="divider" />
            <Spacer size={12} />
            <div class="descriptionText">{fact}</div> -->
      </div>
    </div>
  {/each}
</div>

<style>
  /* .divider {
      background: #41c2f0;
      width: 60px;
      height: 3px;
      border-radius: 8px;
    } */
  .sectionDescription {
    font-family: Bender;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #ffffff;
    text-align: center;
  }
  .glitchText {
    font-family: "Arturito";
    font-weight: bold;
    font-size: 16px;
    line-height: 119.5%;
    text-transform: uppercase;
    color: #ffffff;
    text-shadow: 1px 1px 0px #03c4d8, -1px -1px 0px #f21cbb;
    text-decoration: none;
  }

  .investors {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -16px -16px 0;
    justify-content: center;
  }
  .investorWrapper {
    width: 20%;
    padding: 0 16px 16px 0;
    box-sizing: border-box;
  }
  .investor {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-decoration: none;
  }
  .investorImage {
    width: 140px;
    border-radius: 4px;
  }
  .investorName {
    text-align: center;
  }
  .descriptionText {
    font-family: Bender;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;

    color: #ffffff;
  }
  @media (max-width: 960px) {
    .investorWrapper {
      width: 100%;
    }
  }
</style>
