<script>
  import { apiUrl, refererSlug } from "store";
  export let id = "";
  import Header from "./Header/Index.svelte";
  import Cover from "./Cover/Index.svelte";
  import Description from "./Description/Index.svelte";
  import Images from "./Images/Index.svelte";
  import Video from "./Video/Index.svelte";
  import Share from "./Share/Index.svelte";
  import Budget from "./Budget/Index.svelte";
  import Roadmap from "./Roadmap/Index.svelte";
  import Team from "./Team/Index.svelte";
  import Spacer from "components/Spacer.svelte";
  let data = { images: [], roadmap:[] };
  const searchParams = new URLSearchParams(window.location.search);
  if (searchParams.has("sharing")) {
    refererSlug.set(id);
  }

  fetch(`${apiUrl}/api/v1/proposals/${id}/`)
    .then((res) => res.json())
    .then((res) => {
      data = res;
      document
        .querySelector('[property="og:title"]')
        .setAttribute(
          "content",
          `Dreamapp${data.name ? ". Проект " + data.name : "''"}`
        );
    });
</script>

<Spacer size={40} />
<Header {data} />
<Spacer size={24} />
<Cover {data} />
<Spacer size={80} />
<div class="row">
  <div class="cell flexGrow">
    <Description {data} />
    <Spacer size={40} />
    <Images {data} />
    <Video {data} />
    <Roadmap {data}/>
  </div>
  <div class="cell sidebar">
    <Share />
    <Spacer size={40} />
    <Budget {data} />
    <Spacer size={40} />
    <Team {data}/>
  </div>
</div>
<Spacer size={40} />
<svelte:head>
  <title>{`Dreamapp${data.name ? '. Проект ' + data.name : "''"}`}</title>
</svelte:head>

<style>
  .flexGrow {
    flex-grow: 1;
  }
  .row {
    display: flex;
  }
  .sidebar {
    margin-left: 34px;
  }
  @media (max-width: 960px) {
    .row {
      flex-wrap: wrap;
    }
    .cell {
      width: 100%;
    }
    .sidebar {
      margin-left: 0;
    }
  }
</style>
