<script>

    export let data = {}
</script>
{#if data.cover}
<div class="cover" style={`background-image: url(${data.cover})`}></div>
{/if}
<style>
    .cover{
        background-repeat: no-repeat;
        padding-top: 35%;
        background-color: #dc1bad;
        border-radius: 12px;
        background-size: cover;
        background-position: center center;
    }
</style>