<script>
    import Investors from "components/Investors/Index.svelte";
    import Spacer from "components/Spacer.svelte";
  </script>
  
  <h3>Инвесторы</h3>
  <section>
    <Investors />
    <Spacer size={40} />
  </section>
  
  <style>
    h3 {
      font-family: "Arturito", sans-serif;
      font-weight: bold;
      font-size: 48px;
      line-height: 62px;
      text-transform: uppercase;
      color: #ffffff;
      text-shadow: -2px -2px 1px #f21cbb;
      text-align: center;
    }
  
    section {
      overflow: hidden;
    }
  </style>
  