<script>
  import {slide} from 'svelte/transition'
  import Close from "assets/Close.svelte";
  import Spacer from "components/Spacer.svelte";
  let isOpen = !Boolean(localStorage.getItem("dreamappCookie"));
  console.log(isOpen);
  const onClose = ()=>isOpen = false;
  const accept = () => {
    localStorage.setItem("dreamappCookie", "true");
    onClose();
  };
</script>
{#if isOpen}
<div class="confirmCookie" transition:slide|local={{duration: 200, y:-200}}>
  <div class="container">
    <div class="text">
      <p>
        Мы и наши партнеры используем файлы cookie на нашем сайте для
        персонализации контента и рекламы, предоставления функций социальных
        сетей и анализа нашего трафика. Продолжая просмотр страниц сайта, вы
        принимаете условия его использования. Более подробные сведения можно
        посмотреть в
        <a href="/policy">Политике конфиденциальности</a>.
      </p>
      <button class="btn btn-primary" on:click={accept}>Принять</button>
    </div>
    <Spacer vertical size={16}/>
    <div class="closeButton" on:click={onClose}>
      <Close size={24}/>
    </div>
  </div>
</div>
{/if}
<style>
  .closeButton {
    cursor: pointer;
    width: 24px;
    height: 24px;
  }
  .confirmCookie {
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(14, 0, 43, 0.9);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    color: #fff;
    z-index: 99;
    padding: 33px;
    
  }
  .container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  .text {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
  }
  p {
    color: #fff;
    max-width: 1000px;
    font-size: 16px;
    text-align: left;
    margin: 0 16px 0 0;
  }
  a {
    color: #ff727c;
  }
  button {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 119.5%;

    text-align: center;
    text-transform: uppercase;

    color: #ffffff;
    border-radius: 10px;
    padding: 11px 16px;
    border: none;
    outline: none;
    background: #f21cbb;
    align-self: center;
    cursor: pointer;
  }
  button:active {
    background: #f21cbb;
  }
  @media (max-width: 690px) {
    .text{
      flex-wrap: wrap;
    }
    p{
      margin-bottom: 16px;
      font-size: 12px;
    }
    .confirmCookie{
      padding: 16px;
    }
  }
</style>
