<script>
  import Spacer from "components/Spacer.svelte";
  import Series from "components/Series/Index.svelte";

  import { type } from "helpers";
</script>

<section>
  <div class="title" use:type={'Прошлые серии'}>Прошлые выпуски</div>
  <Spacer size={30} />
  <Series onlyRecent/>
  <Spacer size={20}/>
  <div class='more'><a href="/series"><button>Смотреть все</button></a></div>
</section>

<style>
  section {
    overflow: hidden;
  }
  .title {
    font-family: "Arturito";
    font-weight: bold;
    font-size: 26px;
    line-height: 119.5%;
    text-transform: uppercase;
    color: #ffffff;
    text-shadow: 2px 2px 0px #03c4d8, -2px -2px 0px #f21cbb;
    text-decoration: none;
    text-align: center;
  }
  .more{
    display: flex;
    justify-content: center;
  }
  .more a{
    width: 100%;
  }
  button {
    width: 100%;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 119.5%;

    text-align: center;
    text-transform: uppercase;

    color: #ffffff;
    border-radius: 10px;
    padding: 11px 16px;
    border: none;
    outline: none;
    cursor: pointer;
    background: transparent;
    border: 2px solid #fff;
  }
</style>
