<script>
  export let episode = null;
  import { fade } from "svelte/transition";
  import Close from "assets/Close.svelte";
  let innerWidth = 560;
  let overflowState = "";

  $: {
    if (episode !== null) {
      overflowState = document.body.style.overflow;
      document.body.style.overflow = "hidden";
    } else {
      document.body.style.overflow = overflowState;
    }
  }
  const close = () => {
    episode = null;
  };
</script>

{#if episode !== null}
  <div class="overlay" transition:fade|local on:click={close}>
    <div class="close">
      <Close />
    </div>
    <div class="content" on:click|stopPropagation>
      <iframe
        title="dreamapp"
        height="315"
        width={innerWidth < 560 ? innerWidth : 540}
        src={episode.link + '?rel=0&autoplay=1'}
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope;
          picture-in-picture"
          allowfullscreen="allowfullscreen"
          mozallowfullscreen="mozallowfullscreen" 
          msallowfullscreen="msallowfullscreen" 
          oallowfullscreen="oallowfullscreen" 
          webkitallowfullscreen="webkitallowfullscreen" />
    </div>
  </div>
{/if}
<svelte:window bind:innerWidth />

<style>
  .close {
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
  }
  .overlay {
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
  }
</style>
