<script>
  import LastSeries from './LastSeries/Index.svelte';
  import Series from './Series/Index.svelte'
  import Pitchers from './Pitchers/Index.svelte'
  import Investors from './Investors/Index.svelte'
  import RequestForm from './RequestForm/Index.svelte'
  // import About from './About/Index.svelte'
  import HowToJoin from './HowToJoin/Index.svelte'
  import HowToSupport from 'components/HowToSupport/Index.svelte'
  import Spacer from 'components/Spacer.svelte'
  import {type} from 'helpers'
  
</script>


  <!-- <About/> -->
  
  <h3 use:type={'Реальные\n бабки'}>{'Реальные\n деньги за контент'}</h3>
  <LastSeries/>
  <a name="series"><Spacer size={80}/></a>
  <Series/>
  <a name="pitchers" ><Spacer size={80}/></a>
  <Pitchers/>
  <Spacer size={40}/>
  <HowToSupport/>
  <a name="investors"><Spacer size={80}/></a>
  <Investors/>
  <Spacer size={80}/>
  <HowToJoin/>
  <a name="request"><Spacer size={40}/></a>
  <RequestForm/>
  <Spacer size={80}/>


<style>
 
  h3 {
    font-family: "Arturito", sans-serif;
    font-weight: bold;
    font-size: 48px;
    line-height: 62px;
    text-transform: uppercase;
    color: #ffffff;
    text-shadow: -2px -2px 1px #f21cbb;
    text-align: center;
    
  }
  @media (max-width: 600px){
    h3{
      white-space:pre-wrap;
    }
  }
  
</style>
