<script>
  import Spacer from "components/Spacer.svelte";
</script>

<section>
  <div class="glitchText title">Как стать участником шоу</div>
  <Spacer size={24} />
    <div class='number'><div class='numberText'>1</div></div>
    <Spacer size={8}/>
    <div class="sectionDescription">Придумай идею для проекта</div>
    <Spacer size={16}/>
    <div class='number'><div class='numberText'>2</div></div>
    <Spacer size={8}/>
    <div class="sectionDescription">
      Подготовь презентацию с указанием сроков реализации, команды и
      необходимого бюджета на производство
    </div>
    <Spacer size={16}/>
    <div class='number'><div class='numberText'>3</div></div>
    <Spacer size={8}/>
    <div class="sectionDescription">Авторизируйся и заполни заявку на сайте</div>
    <Spacer size={16}/>
    <div class='number'><div class='numberText'>4</div></div>
    <Spacer size={8}/>
    <div class="sectionDescription">Если твой проект выберут для участия в шоу, с тобой свяжутся</div>
  
</section>

<style>
  section {
    overflow: hidden;
  }
  .number{
    display:flex;
    justify-content:center;
  }
  .numberText{
    min-width: 32px;
    min-height: 32px;
    background:#03c4d8;
    color: #ffffff;
    font-family: Bender;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    border-radius: 50%;
  }
  
  .glitchText {
    font-family: "Arturito";
    font-weight: bold;
    font-size: 16px;
    line-height: 119.5%;
    text-transform: uppercase;
    color: #ffffff;
    text-shadow: 1px 1px 0px #03c4d8, -1px -1px 0px #f21cbb;
    text-decoration: none;
  }
  .title {
    font-size: 26px;
    text-shadow: 2px 2px 0px #03c4d8, -2px -2px 0px #f21cbb;
    text-align: center;
  }
  .sectionDescription {
    font-family: Bender;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #ffffff;
    text-align: center;
  }
</style>
