<script>
  import countries from "./countries";
  import Spacer from "components/Spacer.svelte";
  import Loader from "components/Loader.svelte";
  import { onMount } from "svelte";
  import Close from "assets/Close.svelte";
  import ArrowDown from "assets/ArrowDown.svelte";
  import {
    getVerificationCode,
    checkVerificationCode,
    isAuthOpen,
  } from "store";
  import { notifier } from "@beyonk/svelte-notifications";

  let phoneRef;
  let popupRef;
  let containerRef;
  let codeRef;
  let overflowState = "";
  let isCodeSent = false;
  let isLoading = false;
  let phone = "+ 7";
  let code = "";
  let country = {
    backgroundPosition: "-48px -288px",
    name: "Россия",
    code: "7",
    key: "ru",
  };
  const close = () => ($isAuthOpen = false);

  onMount(() => {
    document.body.appendChild(containerRef);
    return () => {
      document.body.removeChild(containerRef);
    };
  });
  $: {
    if ($isAuthOpen) {
      isCodeSent = false;
      code = "";
      overflowState = document.body.style.overflow;
      document.body.style.overflow = "hidden";
    } else {
      document.body.style.overflow = overflowState;
    }
  }
  $: {
    if (popupRef) {
      const el = document.querySelector("#userphone");
      el.focus();
    }
  }
  $: {
    if (codeRef) {
      codeRef.focus();
    }
  }

  const getCode = () => {
    isLoading = true;
    const sanitizedPhone = phone.replace(/[^0-9.]/g, "");
    getVerificationCode(sanitizedPhone)
      .then(() => {
        isCodeSent = true;
      })
      .finally(() => {
        isLoading = false;
      });
  };

  const checkCode = () => {
    isLoading = true;
    const sanitizedPhone = phone.replace(/[^0-9.]/g, "");
    checkVerificationCode({ phone: sanitizedPhone, code })
      .then((success) => {
        if(success){
          close();
        } else {
          notifier.danger("Ой, код не подходит");
        }
      })
      .finally(() => {
        isLoading = false;
      });
  };
  const submit = () => {
    if (!isCodeSent) {
      getCode();
    } else {
      checkCode();
    }
  };
  const changeCountryCode = (e) => {
    const value = JSON.parse(e.target.value);
    const newCode = "+ " + value.code;
    const currentCode = "+ " + country.code;
    if (phone.startsWith(currentCode)) {
      phone = newCode + phone.slice(currentCode.length);
    } else {
      phone = newCode + phone;
    }
    country = value;
    phoneRef.focus();
  };
</script>

<div>
  <div bind:this={containerRef}>
    {#if $isAuthOpen}
      <div class={`overlay ${$$props.class || ''}`} on:click={close}>
        <div
          bind:this={popupRef}
          class="popup"
          on:click={(e) => e.stopPropagation()}>
          <div class="closeButton" on:click={close}>
            <Close />
          </div>
          <div class="title">Авторизация</div>
          <Spacer size={24} />
          <form on:submit|preventDefault={submit}>
            <label for="userphone">Телефон</label>
            <div class="phone">
              <div class="counryCode">
                <div
                  class="flag"
                  style={`background-position: ${country.backgroundPosition}`} />
                <Spacer size={8} vertical />
                <ArrowDown />
                <!-- svelte-ignore a11y-no-onchange -->
                <select
                  name="select"
                  on:change={changeCountryCode}
                  value={JSON.stringify(country)}
                  class="countrySelect">
                  {#each countries as item, i (item.key)}
                    <option value={JSON.stringify(item)}>
                      {item.name}
                      +
                      {item.code}
                    </option>
                  {/each}
                </select>
              </div>
              <Spacer size={8} vertical />
              <input
                bind:this={phoneRef}
                required
                id="userphone"
                class="phoneInput"
                bind:value={phone} />
            </div>
            <Spacer size={24} />
            {#if isCodeSent}
              <label for="protectionCode">Код подтврждения</label>
              <input
                type="text"
                id="protectionCode"
                bind:this={codeRef}
                bind:value={code}
                autocomplete="chrome-off" />
              <Spacer size={24} />
              {#if isLoading}
                <Loader />
              {:else}<button on:click={checkCode}>Войти</button>{/if}
            {:else if isLoading}
              <Loader />
            {:else}<button on:click={getCode}>Получить код</button>{/if}
          </form>
        </div>
      </div>
    {/if}
  </div>
</div>

<style>
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .phone {
    display: flex;
    align-items: center;
    align-items: stretch;
  }
  .phoneInput {
    margin-bottom: 0;
  }
  .counryCode {
    display: flex;
    position: relative;
    white-space: nowrap;
    cursor: pointer;
    /* border: 1px solid #f21cbb; */
    border-radius: 4px;
    align-items: center;
    padding: 0 12px;
    background: rgba(0, 0, 0, 0.1);
  }
  .countrySelect {
    position: absolute;
    cursor: pointer;
    left: 0;
    width: 100%;
    opacity: 0;
  }
  .flag {
    width: 25px;
    height: 20px;
    background-image: url("/assets/flags.png");
    background-repeat: no-repeat;
  }
  .closeButton {
    position: absolute;
    right: 16px;
    top: 16px;
    cursor: pointer;
  }
  .overlay {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px) saturate(160%);
    -webkit-backdrop-filter: blur(10px) saturate(160%);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .popup {
    border-radius: 6px;
    animation-fill-mode: forwards;
    max-height: calc(100% - 32px);
    max-width: calc(100% - 32px);
    display: flex;
    min-width: 360px;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    background: #307fe2;
    color: white;
    padding: 24px;
  }
  .title {
    font-size: 32px;
    line-height: 42px;
    text-align: center;
    font-family: Bender;
  }
  label {
    font-family: Bender;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 12px;
  }
  .popup :global(input) {
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    font-family: Bender;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    border: none;
    color: #ffffff;
    padding: 12px 24px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid transparent;
  }
  form {
    display: flex;
    flex-direction: column;
  }

  .popup :global(input:focus) {
    border-color: #f21cbb;
  }
  .popup :global(input::placeholder) {
    color: #ffffff;
    opacity: 0.15;
  }
  button {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 119.5%;

    text-align: center;
    text-transform: uppercase;

    color: #ffffff;
    border-radius: 10px;
    padding: 11px 16px;
    border: none;
    outline: none;
    background: #f21cbb;
    align-self: center;
    cursor: pointer;
  }
  button:active {
    background: #f21cbb;
  }
  @media (max-width: 480px) {
    .popup {
      height: calc(100% - 32px);
      min-width: calc(100% - 32px);
      justify-content: center;
    }
  }
</style>
