<script>
  import { fly } from "svelte/transition";
  import Spacer from "components/Spacer.svelte";
  import Menu from "assets/Menu.svelte";
  import Auth from "./Auth.svelte";
  import {isAuthorized, isAuthOpen} from 'store/index.js'
  let isMenuOpen = false;
  
  const toggleMenu = ()=> isMenuOpen=!isMenuOpen;
  const openMenu = () => (isMenuOpen = true);
  const closeMenu = () => (isMenuOpen = false);
  const openAuth = () => $isAuthOpen = true;
  const scrollTo = (id)=>{
    const el = document.querySelector(`[name="${id}"]`)
    if(el) setTimeout(()=>el.scrollIntoView({behavior:'smooth', block:'start'}), 100)
  }
</script>

<header>
  <div on:click|stopPropagation={toggleMenu} class="mobileMenuButton">
    <Menu />
  </div>
  <div class="logo">
    <a href="/"><img
        class="logoImage"
        src="/assets/logo.svg"
        alt="logo" />
    </a>
  </div>
  <nav class="links">
    <a href="/series">ВЫПУСКИ</a>
    <a href="/projects">Проекты</a>
    <a href="/investors">ИНВЕСТОРЫ</a>
  </nav>
  <div class="auth">
    {#if !$isAuthorized}<button class="authButton" on:click={openAuth}>АВТОРИЗАЦИЯ</button>
    <Spacer size={16} vertical />{/if}
    <a href="/#request" on:click={()=>scrollTo('request')}><button class="requstButton">подать заявку</button></a>
  </div>
</header>
{#if isMenuOpen}
  <div class="mobileMenu" transition:fly|local={{ duration: 200, y: -100 }}>
    <nav class="links">
      <a href="/series" >ВЫПУСКИ</a>
      <Spacer size={16} />
      <a href="/projects" >Проекты</a>
      <Spacer size={16} />
      <a href="/investors">ИНВЕСТОРЫ</a>
      <Spacer size={16} />
    </nav>
    <div class="auth">
      {#if !$isAuthorized}<button class="authButton" on:click={openAuth}>АВТОРИЗАЦИЯ</button>
      <Spacer size={16} />{/if}
      <a href="/#request" on:click={()=>scrollTo('request')}><button class="requstButton">подать заявку</button></a>
    </div>
  </div>
{/if}
<Auth />
<svelte:body on:click={closeMenu} />

<style>
  .mobileMenu {
    position: fixed;
    top: 70px;
    background-color: #3e0e4a;
    width: 100%;
    padding: 16px;
    z-index: 2;
  }
  .mobileMenu .links a {
    display: block;
  }
  .mobileMenuButton {
    display: none;
  }
  button {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 119.5%;

    text-align: center;
    text-transform: uppercase;

    color: #ffffff;
    border-radius: 10px;
    padding: 11px 16px;
    border: none;
    outline: none;
    cursor: pointer;
  }
  .authButton {
    background: #03c4d8;
  }
  .requstButton {
    background: #f21cbb;
  }
  header {
    position: sticky;
    top: 0;
    background-color: #3e0e4a;
    height: 76px;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
  }
  .links {
    flex-grow: 1;
  }
  .links a {
    color: white;
    font-weight: bold;
    font-size: 14px;
    line-height: 119.5%;
    margin-right: 30px;
    text-transform: uppercase;
  }
  .logo {
    position: relative;
    top: 16px;
    margin-right: 54px;
  }
  .logoImage {
    width: 90px;
  }
  @media (max-width: 960px) {
    header {
      padding: 0 24px;
    }
    header .links {
      display: none;
    }
    header .auth {
      display: none;
    }
    .mobileMenuButton {
      display: block;
    }
    .logo {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }
</style>
