<script>
  import Pitchers from "components/Pitchers/Index.svelte";
  import Spacer from "components/Spacer.svelte";
</script>

<section>
  <div class="glitchText title">Проекты</div>
  <Spacer size={20}/>
  <Pitchers onlyRecent />
  <Spacer size={20}/>
  <div class='more'><a href="/projects"><button>Смотреть все</button></a></div>
</section>

<style>
  .more{
    display: flex;
    justify-content: center;
  }
  .more a{
    width: 100%;
  }
  .glitchText {
    font-family: "Arturito";
    font-weight: bold;
    font-size: 16px;
    line-height: 119.5%;
    text-transform: uppercase;
    color: #ffffff;
    text-shadow: 1px 1px 0px #03c4d8, -1px -1px 0px #f21cbb;
    text-decoration: none;
  }
  .title {
    font-size: 26px;
    text-shadow: 2px 2px 0px #03c4d8, -2px -2px 0px #f21cbb;
    text-align: center;
  }
  section {
    overflow: hidden;
  }
  button {
    width: 100%;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 119.5%;

    text-align: center;
    text-transform: uppercase;

    color: #ffffff;
    border-radius: 10px;
    padding: 11px 16px;
    border: none;
    outline: none;
    cursor: pointer;
    background: transparent;
    border: 2px solid #fff;
  }
  
</style>
