<script>
  import Spacer from "components/Spacer.svelte";
  export let data = {};

  const formatDate = ({ start_date, end_date }) => {
    const format = (date) => {
      if (!date) return "";
      const dt = new Intl.DateTimeFormat("ru-RU", {
        year: "numeric",
        month: "long",
      }).format(new Date(date));
      return dt.charAt(0).toUpperCase() + dt.slice(1, -3);
    };
    const date1 = new Date(start_date);
    const date2 = new Date(end_date);
    if (
      date1.getFullYear() === date2.getFullYear() &&
      date1.getMonth() === date2.getMonth()
    ) {
      return format(start_date);
    }
    return `${format(start_date)} - ${format(end_date)}`;
  };
</script>

{#if data.roadmap && data.roadmap.length > 0}
  <section>
    <div class="gtichText title">роадмап</div>
    <Spacer size={20} />
    <div class="roadmap">
      {#each data.roadmap as item}
        <div class="roadmapItem">
          <div class="marker">
            <div class="markerCircle" />
            <div class="markerTail" />
          </div>
          <Spacer size={20} vertical />
          <div>
            <div class="roadmapTitle">{item.title}</div>
            <Spacer size={8} />
            <div class="roadmapDate">{formatDate(item)}</div>
            <Spacer size={20} />
          </div>
        </div>
      {/each}
    </div>
  </section>
  <Spacer size={40} />
{/if}

<style>
  .marker {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .roadmapItem:last-child .markerTail {
    display: none;
  }
  .markerTail {
    width: 4px;
    height: 100%;
    background: #650d63;
  }
  .markerCircle {
    min-width: 28px;
    min-height: 28px;
    background: #650d63;
    border-radius: 50%;
  }
  .roadmapItem {
    display: flex;
  }
  .roadmapTitle {
    font-family: Bender;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #ffffff;
  }
  .roadmapDate {
    font-family: Bender;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
  }
  .gtichText {
    font-family: "Arturito";
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 119.5%;

    color: #ffffff;

    text-shadow: 2px 2px 0px #03c4d8, -2px -2px 0px #f21cbb;
  }
  .title {
    text-transform: uppercase;
  }
</style>
