<script>
  import Spacer from "components/Spacer.svelte";
  import Fb from 'assets/Fb.svelte'
  import Vk from 'assets/Vk.svelte'
  import Ok from 'assets/Ok.svelte'
  import Twitter from 'assets/Twitter.svelte'
  const url = encodeURIComponent(window.location.href + '?sharing=true')
</script>

<div class="gtichText title">поделиться</div>
<Spacer size={20} />
<div class="shareContainer" >
    <a href={`https://www.facebook.com/sharer.php?src=${url}`} target="_blank"><Fb/></a>
    <Spacer vertical/>
    <a href={`https://vk.com/share.php?url=${url}`} target="_blank"><Vk/></a>
    <Spacer vertical/>
    <a href={`https://connect.ok.ru/offer?url=${url}`} target="_blank"><Ok/></a>
    <Spacer vertical/>
    <a href={`https://twitter.com/intent/tweet?url=${url}`} target="_blank"><Twitter/></a>
</div>

<style>
  .gtichText {
    font-family: "Arturito";
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 119.5%;

    color: #ffffff;

    text-shadow: 2px 2px 0px #03c4d8, -2px -2px 0px #f21cbb;
  }
  .title {
    text-transform: uppercase;
  }
  .shareContainer {
    background: rgba(255, 255, 255, 0.03);
    border-radius: 12.6076px;
    padding: 16px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>
