<script>
  export let data = {};
  import Spacer from "components/Spacer.svelte";
</script>

<div class="gtichText title">Описание проекта</div>
<Spacer size={24} />
<div class="description">{data.description}</div>

<style>
  .gtichText {
    font-family: "Arturito";
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 119.5%;

    color: #ffffff;

    text-shadow: 2px 2px 0px #03c4d8, -2px -2px 0px #f21cbb;
  }
  .title {
    text-transform: uppercase;
  }
  .description {
    font-family: Bender;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;

    color: #ffffff;
  }
  @media (max-width: 960px) {
    .description {
      padding: 16px;
      background: #3e0e4a;

      border-radius: 12px;
    }
  }
</style>
