<script>
    export let author = {};
    export let score = 0;
    export let slug = "";
    import { isAuthorized, user, apiUrl, isAuthOpen } from "store";
    import { notifier } from "@beyonk/svelte-notifications";
    import Spacer from "components/Spacer.svelte";
    let isPressed = false;
    let timeoutId = null;
    let tmpCoins = 0;
    const updatePoints = () => {
  
      if ($user.coins < 10) {
        return;
      }
      if (tmpCoins >= 1000) return;
      $user.coins -= 10;
      score += 10;
      tmpCoins += 10;
      timeoutId = setTimeout(updatePoints, 300);
    };
    const press = () => {
      if(!$isAuthorized) return
      isPressed = true;
      updatePoints();
    };
    const release = () => {
      if(!$isAuthorized) return
      clearTimeout(timeoutId);
      isPressed = false;
      if (tmpCoins <= 0) return;
      fetch(`${apiUrl}/api/v1/proposals/${slug}/score/`, {
        method: "post",
        credentials: "include",
        body: JSON.stringify({ value: tmpCoins }),
        headers: { "Content-type": "application/json; charset=utf-8" },
      })
        .then((res) => res.json())
        .then((res) => console.log(res))
        .catch((err) => console.log(err))
        tmpCoins = 0
    };
    const notAuthorized = ()=>{
      if(!$isAuthorized){
        $isAuthOpen = true;
        notifier.danger("Для голосованиция необходимо авторизоваться");
      }
    }
  </script>
  <div class="imageWrapper" on:mousedown={press} on:mouseup={release}>
    
    <div class="pitcherImage" style={`background-image: url(${author.avatar})`} on:click={notAuthorized}>
      {#if $isAuthorized && $user.coins >= 10}
        <div class="backdrop" class:pulse={!isPressed} />
        <div class="actionText" class:pulse={isPressed}>
          {isPressed ? 'НЕ ОТПУСКАЙ' : 'ЖМИ'}
        </div>
      {/if}
    </div>
    <div class="coins glitchText">
      {score}
      <Spacer vertical /><img src="/assets/coin.svg" alt="coing" />
    </div>
  </div>
  
  <style>
    .glitchText {
      font-family: "Arturito";
      font-weight: bold;
      font-size: 16px;
      line-height: 119.5%;
      text-transform: uppercase;
      color: #ffffff;
      text-shadow: 1px 1px 0px #03c4d8, -1px -1px 0px #f21cbb;
      text-decoration: none;
    }
    .coins {
      position: absolute;
      right: -25px;
      top: -4px;
      min-width: 57px;
      min-height: 57px;
      border-radius: 50%;
      background: rgba(0, 0, 0, 0.31);
      font-size: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .coins img{
      height: 13px;
    }
    .actionText {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: "Bender";
      font-weight: 800;
      color: white;
    }
    .backdrop {
      width: 110px;
      height: 110px;
      background: rgba(0, 0, 0, 0.3);
      border-radius: 50%;
      left: 12px;
      top: 12px;
      position: absolute;
    }
    .pulse {
      animation: pulsate-bck 0.5s ease-in-out infinite both;
    }
    .pitcherImage {
      width: 134px;
      height: 134px;
      border-radius: 50%;
      background-repeat: no-repeat;
      background-color: #2A0842;
      background-size: cover;
      background-position: center center;
      position: relative;
      cursor: pointer;
    }
    .imageWrapper {
      flex-grow: 1;
      display: flex;
      align-items: flex-start;
      position: relative;
    }
    @keyframes pulsate-bck {
      0% {
        transform: scale(1);
      }
      50% {
        transform: scale(0.9);
      }
      100% {
        transform: scale(1);
      }
    }
  </style>
  