<script>
    import {isAuthOpen, isAuthorized, user, apiUrl} from 'store'
    import Avatar from './Avatar.svelte'
    import Spacer from "components/Spacer.svelte";
    let data = [];
    fetch(`${apiUrl}/api/v1/proposals/list/`).then(res=>res.json()).then(res=>data=res)
    export let onlyRecent = false;
    $: pitchers = onlyRecent ? data.slice(0, 6): data;
  </script>
  
  
    {#if $isAuthorized}
      <div class="sectionDescription">Отдайте свой голос за понравившегося питчера</div>
      <Spacer size={12} />
      <div class="scoreLeftContainer"><div class="scoreLeft">У вас осталось <b>{$user.coins}</b> донатов</div></div>
    {:else}
      <div class="sectionDescription">
        <a href="#" on:click|preventDefault={()=>$isAuthOpen=true} class="authClaim">Авторизуйтесь</a> и отдайте свой голос за понравившегося питчера. <br/> Для этого нажмите и удерживайте кнопку с фото участника. Будьте внимательны, у вас будет <span class="maxScore">максимум 100 донатов</span>.
      </div>
      
    {/if}
    
    <Spacer size={24} />
    <div class="pitchers">
      {#each pitchers as { name, score, money=0, author={}, slug, longline }}
        <div class="pitcherWrapper">
          <div class="pitcher">
            <div class="glitchText pitcherName">{author.last_name}</div>
            <Spacer size={18} />
            <Avatar {author} bind:score {slug}/>
            <Spacer size={12} />
            <a href={`/project/${slug}`} class="projectName">{name}</a>
            <Spacer />
            <div class="requestedText">{longline || ''}</div>
            <Spacer />
            <div class="glitchText">{money.toLocaleString()} Р.</div>
          </div>
        </div>
      {/each}
    </div>
  
  
  <style>
    
    .scoreLeftContainer{
      display: flex;
      justify-content:center;
    }
    .scoreLeft{
      color: #fff;
      font-weight: 300;
      padding: 10px 20px;
      background: #F21CBB;
      font-size: 15px;
      border-radius: 10px;
      font-family: 'Bender', sans-serif;
    }
    
      .maxScore{
          color:#03C4D8;
      }
      .authClaim{
          font-weight: bold;
          color: #03C4D8;
      }
      .pitcherName{
        text-align: center;
      }
    .sectionDescription {
      font-family: Bender;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 23px;
      color: #ffffff;
      text-align: center;
    }
    .glitchText {
      font-family: "Arturito";
      font-weight: bold;
      font-size: 16px;
      line-height: 119.5%;
      text-transform: uppercase;
      color: #ffffff;
      text-shadow: 1px 1px 0px #03c4d8, -1px -1px 0px #f21cbb;
      text-decoration: none;
    }
    .pitchers {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -16px -16px 0;
      align-items: stretch;
    }
    .pitcherWrapper {
      width: 33.33%;
      padding: 0 16px 16px 0;
      box-sizing: border-box;
    }
    .pitcher {
      background: rgba(255, 255, 255, 0.03);
      border-radius: 12.6076px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 24px;
      text-decoration: none;
      height: calc(100% - 48px);
    }
    
    
    .projectName {
      font-family: Bender;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 20px;
      text-align: center;
      color: #03c4d8;
    }
    .requestedText {
      font-family: Bender;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      color: white;
      text-align: center;
    }
    @media (max-width:960px){
      .pitcherWrapper{
        width: 100%;
      }
    }
  </style>
  