<script>
    import Spacer from "components/Spacer.svelte";
</script>
<footer>
    <a href="/rules" >Соглашение об участии в шоу</a>
    <Spacer size={16}/>
    <a href="/policy" >Политика конфиденциальности</a>
    <Spacer size={16}/>
  <div class="text">All Rights Reserved Copyright © 2010-2020 <a href="https://screenlifer.com/">Screenlifer</a></div>
  
</footer>

<style>
  footer {
    background-color: #0e002b;
    padding: 24px;
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
  }
  .text, a{
    font-size: 0.875em;
    line-height: 1.2rem;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 600;
    text-align: center;
  }
  
</style>
