<script>
  import Spacer from "components/Spacer.svelte";
  export let data = {};
</script>

<div class="gtichText title">бюджет проекта</div>
<Spacer size={20} />
<div class="budgetContainer">
  <div class="budget">{(data.money || 0).toLocaleString()} ₽</div>
</div>

<style>
  .gtichText {
    font-family: "Arturito";
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 119.5%;
    color: #ffffff;
    text-shadow: 2px 2px 0px #03c4d8, -2px -2px 0px #f21cbb;
  }
  .title {
    text-transform: uppercase;
  }
  .budgetContainer {
    background: #03c4d8;
    box-shadow: 0px 0px 150px rgba(3, 196, 216, 0.41);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px 36px;
  }
  .budget {
    font-family: "Arturito";
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 119.5%;
    color: #ffffff;
    white-space: nowrap;
  }
</style>
