<script>
  import Spacer from "components/Spacer.svelte";
  export let data = {};
</script>

{#if data.team && data.team.length > 0}
  <section>
    <div class="gtichText title">команда проекта</div>
    <Spacer size={20} />
    <div class="team">
      {#each data.team as member}
        <div class="member">
          <div class="avatar" >
            
            <div class='avatarImage' style={`background-image: url(${member.avatar})`}/>
          </div>
          <Spacer size={16} vertical />
          <div>
            <div class="name">{member.name}</div>
            <Spacer size={8} />
            <div class="role">{member.role}</div>
          </div>
        </div>
      {/each}
    </div>
  </section>
  <Spacer size={40} />
{/if}

<style>
  .team {
    background: rgba(255, 255, 255, 0.03);
    border-radius: 12.6076px;
    padding: 18px 32px;
  }
  .role {
    font-family: Bender;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
  }
  .name {
    font-family: Bender;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;

    color: #ffffff;
  }
  .avatar {
    min-width: 89px;
    min-height: 89px;
    background-color: #2A0842;
   position: relative;
    border-radius: 50%;
    
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
  }
  .avatarImage{
      position: absolute;
      top:0;
      left:0;
      right:0;
      bottom:0;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-size: cover;
    background-position: center center;
  }
  .member {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
  }
  .member:last-child{
      margin-bottom: 0;
  }
  .gtichText {
    font-family: "Arturito";
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 119.5%;

    color: #ffffff;

    text-shadow: 2px 2px 0px #03c4d8, -2px -2px 0px #f21cbb;
  }
  .title {
    text-transform: uppercase;
  }
</style>
