<svg
 
  viewBox="0 0 386.257 386.257"
  width="16" height="16">
  <polygon points="0,96.879 193.129,289.379 386.257,96.879 " fill="#f21cbb"/>
</svg>

<style>
    svg{
        margin-top: 5px;
    }
</style>