
<svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 18C0 8.05888 8.05888 0 18 0C27.9411 0 36 8.05888 36 18C36 27.9411 27.9411 36 18 36C8.05888 36 0 27.9411 0 18Z" fill="#3B5998"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M19.8762 28.5837V18.7907H22.5795L22.9377 15.416H19.8762L19.8808 13.7269C19.8808 12.8468 19.9644 12.3751 21.2286 12.3751H22.9186V9.00006H20.2149C16.9674 9.00006 15.8244 10.6372 15.8244 13.3902V15.4164H13.8V18.7911H15.8244V28.5837H19.8762Z" fill="white"/>
    </svg>
    