
<svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 18C0 8.05888 8.05888 0 18 0C27.9411 0 36 8.05888 36 18C36 27.9411 27.9411 36 18 36C8.05888 36 0 27.9411 0 18Z" fill="#F68634"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M19.9801 13.6453C19.9801 12.5847 19.0865 11.7223 17.9878 11.7223C16.8899 11.7223 15.9954 12.5847 15.9954 13.6453C15.9954 14.705 16.8899 15.5679 17.9878 15.5679C19.0865 15.5679 19.9801 14.705 19.9801 13.6453ZM22.7998 13.6452C22.7998 16.206 20.6421 18.289 17.9878 18.289C15.3341 18.289 13.1759 16.206 13.1759 13.6452C13.1759 11.0836 15.3341 9.00006 17.9878 9.00006C20.6421 9.00006 22.7998 11.0836 22.7998 13.6452ZM22.7412 20.9633C21.8711 21.4908 20.9264 21.8649 19.9469 22.0803L22.6369 24.6772C23.188 25.208 23.188 26.0702 22.6369 26.6015C22.0865 27.1329 21.1942 27.1329 20.6443 26.6015L17.9995 24.0497L15.357 26.6015C15.0815 26.867 14.7204 26.9998 14.3594 26.9998C13.9989 26.9998 13.6384 26.867 13.3629 26.6015C12.8124 26.0702 12.8124 25.2086 13.3623 24.6772L16.0526 22.0803C15.0731 21.8649 14.1284 21.4903 13.2584 20.9633C12.5999 20.5626 12.4021 19.723 12.817 19.0868C13.2307 18.4498 14.1008 18.2581 14.7604 18.6588C16.7303 19.855 19.268 19.8553 21.2391 18.6588C21.8987 18.2581 22.7685 18.4498 23.1831 19.0868C23.598 19.7224 23.3996 20.5626 22.7412 20.9633Z" fill="white"/>
    </svg>
    