
<svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 18C0 8.05888 8.05888 0 18 0C27.9411 0 36 8.05888 36 18C36 27.9411 27.9411 36 18 36C8.05888 36 0 27.9411 0 18Z" fill="#55ACEE"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M17.4609 14.6307L17.4987 15.2535L16.8691 15.1772C14.5776 14.8849 12.5757 13.8934 10.876 12.2283L10.045 11.4021L9.83098 12.0122C9.37772 13.3723 9.6673 14.8086 10.6116 15.7747C11.1152 16.3085 11.0019 16.3848 10.1332 16.067C9.83098 15.9653 9.56658 15.8891 9.5414 15.9272C9.45326 16.0162 9.75544 17.1729 9.99466 17.6305C10.322 18.266 10.9893 18.8889 11.7196 19.2575L12.3365 19.5498L11.6063 19.5626C10.9012 19.5626 10.876 19.5753 10.9515 19.8422C11.2034 20.6684 12.198 21.5455 13.306 21.9268L14.0866 22.1937L13.4067 22.6005C12.3995 23.1852 11.216 23.5157 10.0324 23.5411C9.46585 23.5538 9 23.6047 9 23.6428C9 23.7699 10.5361 24.4817 11.43 24.7614C14.1118 25.5876 17.2972 25.2317 19.6894 23.8208C21.3892 22.8166 23.0889 20.8209 23.8821 18.8889C24.3102 17.8593 24.7383 15.978 24.7383 15.0756C24.7383 14.4909 24.7761 14.4146 25.4811 13.7155C25.8966 13.3087 26.2869 12.8638 26.3625 12.7367C26.4884 12.4952 26.4758 12.4952 25.8337 12.7113C24.7635 13.0926 24.6124 13.0418 25.1412 12.4698C25.5315 12.063 25.9973 11.3258 25.9973 11.1097C25.9973 11.0716 25.8085 11.1351 25.5944 11.2495C25.3678 11.3766 24.8642 11.5673 24.4865 11.6817L23.8066 11.8978L23.1896 11.4783C22.8497 11.2495 22.3712 10.9953 22.1194 10.9191C21.4773 10.7411 20.4952 10.7665 19.9161 10.9699C18.3422 11.5419 17.3476 13.0164 17.4609 14.6307Z" fill="white"/>
    </svg>
    