<script>
    import Spacer from "components/Spacer.svelte";
    import {getYoutubeLink} from 'helpers'
    export let data = {};
  </script>
  
  {#if data.video && data.video.length}
    <section>
      <div class="title">Видео</div>
      <Spacer size={16} />
      <div class="videos">
        {#each data.video as video}
          <div class="videoContaier">
            <iframe
            title="dreamapp"
            class="iframe"
            src={getYoutubeLink(video.link) + '?rel=0&autoplay=0'}
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope;
              picture-in-picture"
            allowfullscreen />
          </div>
        {/each}
      </div>
    </section>
    <Spacer size={40} />
  {/if}
  
  <style>
      .iframe{
        border-radius: 12px;
      }
    section {
      overflow: hidden;
    }
    .videos {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -24px -16px 0;
    }
    .title {
      font-family: "Arturito";
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 119.5%;
      text-transform: uppercase;
      color: #ffffff;
      border-bottom: 3px solid white;
      padding-bottom: 4px;
      display: inline-block;
    }
    .videoContaier {
      width: 50%;
      padding: 0 24px 16px 0;
      box-sizing: border-box;
    }
    .image {
      padding-top: 35%;
  
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      background-color: #dc1bad;
      border-radius: 12px;
    }
    @media (max-width: 960px) {
      .imageContaier {
        width: 100%;
      }
    }
  </style>
  