<script>
  import { Route, router } from "tinro";

  import Cookie from "components/Cookie/Index.svelte";
  import Main from "route/Main/Index.svelte";
  import Header from "components/Header/Index.svelte";
  import Footer from "components/Footer/Index.svelte";
  import Project from "route/Project/Index.svelte";
  import Rules from "route/Rules/Index.svelte";
  import Policy from "route/Policy/Index.svelte";
  import Projects from "route/Projects/Index.svelte";
  import Investors from "route/Investors/Index.svelte";
  import Series from "route/Series/Index.svelte";
  import { NotificationDisplay } from "@beyonk/svelte-notifications";
  router.subscribe((_) => window.scrollTo(0, 0));
  // router.useHashNavigation();
</script>

<Header />
<main>
  <Route path={`/`}>
    <Main />
  </Route>
  <Route path={`/project/:id`} let:params>
    <Project id={params.id} />
  </Route>
  <Route path="/rules">
    <Rules/>
  </Route>
  <Route path="/policy">
    <Policy/>
  </Route>
  <Route path="/projects">
    <Projects/>
  </Route>
  <Route path="/investors">
    <Investors/>
  </Route>
  <Route path="/series">
    <Series/>
  </Route>
</main>
<Footer/>
<Cookie/>
<NotificationDisplay themes={{ danger: '#f21cbb' }} />
<svelte:head>
  <script>
    (function(m, e, t, r, i, k, a) {
      m[i] =
        m[i] ||
        function() {
          (m[i].a = m[i].a || []).push(arguments);
        };
      m[i].l = 1 * new Date();
      (k = e.createElement(t)),
        (a = e.getElementsByTagName(t)[0]),
        (k.async = 1),
        (k.src = r),
        a.parentNode.insertBefore(k, a);
    })(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

    ym(53183122, "init", {
      clickmap: true,
      trackLinks: true,
      accurateTrackBounce: true,
      webvisor: true
    });
  </script>
</svelte:head>
<style>
  main {
    max-width: 960px;
    margin: 0 auto;
    flex-grow: 1;
  }
  @media (max-width: 960px) {
    main {
      padding: 0 16px;
    }
  }
</style>
