<script>
  import Pitchers from "components/Pitchers/Index.svelte";
  import Spacer from "components/Spacer.svelte";
  import HowToSupport from "components/HowToSupport/Index.svelte";
</script>

<h3>Проекты</h3>
<section>
  <Pitchers />
  <Spacer size={40} />
  <HowToSupport />
  <Spacer size={40} />
</section>

<style>
  h3 {
    font-family: "Arturito", sans-serif;
    font-weight: bold;
    font-size: 48px;
    line-height: 62px;
    text-transform: uppercase;
    color: #ffffff;
    text-shadow: -2px -2px 1px #f21cbb;
    text-align: center;
  }

  section {
    overflow: hidden;
  }
</style>
