<script>
  import Table from "./Table.svelte";
  import Spacer from "components/Spacer.svelte";
</script>

<h3>Политика конфиденциальности</h3>
<div class="rules">
  <h4>А. Термины используемые в настоящей Политике</h4>
  <Table />
  <h4>В. Введение</h4>
  <p>
    Защита конфиденциальных данных Пользователей Сайта крайне важна для нас, и
    мы считаем своим долгом защищать конфиденциальность и неприкосновенность
    передаваемой информации. Данная Политика ставит перед собой цель объяснить,
    как мы обрабатываем Ваши персональные данные и определяет принципы и методы
    обработки и обеспечения безопасности Персональных данных при их обработке на
    Сайте.
  </p>
  <p>
    В соответствии с настоящей Политикой, мы используем файлы Cookies после
    предоставления вами согласия при первом посещении Сайта.
  </p>
  <p>
    Факт Вашей регистрации на Сайте означает Выражение безоговорочного согласия
    с настоящей Политикой и указанными в ней условиями обработки информации. В
    случае несогласия с этими условиями, Вы обязаны воздержаться от любого типа
    регистрации на Сайте.
  </p>
  <h4>C. Сайт</h4>
  <p>
    Наш Сайт представляет собой цифровой медиа ресурс, предоставляющий Вам
    возможность найти наиболее точную и последнюю информацию в отношении формата
    Screenlife, а также шоу DreamApp
  </p>
  <h4>D. Сбор Персональной информации</h4>
  <p>
    Следующие виды Персональной информации могут быть собраны, сохранены и
    использованы:
  </p>

  <p>
    1. Информация о Вашем компьютере, включая IP адрес, географическое
    положение, тип и версия браузера, вид операционной системы;
  </p>
  <p>
    2. Информация о Вашем посещении и использовании данного Сайта, включая
    источник входа, длительность посещения, посещаемые страницы и навигация по
    Сайту;
  </p>
  <p>
    3. Информация такого рода как Ваш email, который Вы вводите при регистрации
    на нашем Сайте;
  </p>
  <p>
    4. Информация, которую Вы вводите при создании Вашего профиля на Сайте, к
    примеру, Ваше Фамилия, имя и отчество, контактный телефон, фотография
    профиля, пол, дата рождения, семейное положение, социальное положение, адрес
    проживания, аккаунт в социальных сетях, интересы и хобби, детали об
    образовании и трудоустройстве;
  </p>
  <p>
    5. Информация о Вашей фамилии, имени и адресе электронной почты, который Вы
    вводите для целей оформления подписки на наши новости;
  </p>
  <p>6. Информация, которую Вы вводите при использовании услуг Сайта;</p>
  <p>
    7. Информация, которая генерируется при использовании Вами нашего Сайта,
    включая информацию о том, когда, как часто и при каких условиях Вы
    используете Сайт;
  </p>
  <p>
    8. Информация в отношении любых покупок и услуг, которые Вы используете, а
    также в отношении транзакций, которые осуществляются через Сайт.
  </p>
  <p>
    9. Информация, которую Вы размещаете на нашем Сайте с целью дальнейшей ее
    публикации в сети Интернет, которая может включать в себя Ваше имя
    пользователя, фотография профиля и содержание Вашего поста;
  </p>
  <p>
    10. Информация, содержащаяся в любой коммуникации, которую Вы отправляете
    нам по электронной почте или через наш Сайт, включая содержание такой
    коммуникации и метаданные;
  </p>
  <p>
    11. Информация, которую Вы предоставляете для целей регистрации в шоу
    DreamApp, включая Фамилию, имя и отчество, данные телефона, адрес
    электронной почты и банковские реквизиты;
  </p>
  <p>
    12. Любая иная Персональная информация, которую Вы направляете нам по Вашей
    инициативе, за исключением специальных категорий Персональных данных.
  </p>
  <p>
    Прежде чем раскрывать нам личную информацию третьего лица, Вы должны
    получить согласие такого третьего лица как на раскрытие, так и на обработку
    такой Персональной информации в соответствии с данной Политикой.
  </p>
  <h4>E. Использование Вашей Персональной информации</h4>
  <p>
    Персональная информация, предоставленная нам через Сайт, будет
    использоваться для целей, указанных в данной Политике или на соответствующих
    страницах Сайта. Мы можем использовать Вашу Персональную информацию для
    следующих целей:
  </p>
  <p>1. администрирование нашего Сайта и бизнеса;</p>
  <p>2. персонификация нашего Сайт для Вас;</p>
  <p>3. возможность использования услуг, доступных на нашем Сайте;</p>
  <p>4. отправка вам товаров, приобретенных через наш Сайт;</p>
  <p>5. предоставление услуг, приобретенных через наш Сайт;</p>
  <p>
    6. отправлять вам Выписки, счета и напоминания о платежах, а также получать
    платежи от Вас;
  </p>
  <p>7. отправка вам немаркетинговых коммерческих сообщений;</p>
  <p>
    8. отправлять вам уведомления по электронной почте, которые Вы специально
    запросили;
  </p>
  <p>
    9. отправка по запросу вам нашей новостной рассылки (Вы можете сообщить нам
    в любое время, если вам больше не нужна такого рода рассылка);
  </p>
  <p>
    10. отправлять вам маркетинговые сообщения, относящиеся к нашему бизнесу или
    бизнесу тщательно отобранных третьих лиц, которые, по нашему мнению, могут
    представлять интерес для Вас, по почте или, если Вы специально согласились
    на это, по электронной почте или с помощью аналогичной технологии (Вы можете
    сообщить нам в любое время, если вам больше не нужны такие маркетинговые
    сообщения);
  </p>
  <p>
    11. предоставление третьим сторонам статистической информации о наших
    пользователях (но эти третьи стороны не смогут идентифицировать какого-либо
    отдельного пользователя по этой информации);
  </p>
  <p>
    12. рассматривать запросы и жалобы, направленные вами или в отношении Вас
    относительно нашего Сайта;
  </p>
  <p>13. организации проведения шоу DreamApp;</p>
  <p>
    14. поддержание безопасности нашего Сайта и предотвращение мошенничества;
  </p>
  <p>
    15. проверка соблюдения условий использования нашего Сайта (включая
    мониторинг личных сообщений, отправляемых через службу личных сообщений
    нашего Сайта);
  </p>
  <p>
    16. предоставления пользователям Сайта возможности использовать сервисы
    Сайта, идентификации пользователей Сайта;
  </p>
  <p>17. проведения акций и конкурсов для пользователей Сайта;</p>
  <p>
    18. а также другое использование, не противоречащее применимому
    законодательству.
  </p>
  <p>
    Если Вы предоставляете Персональную информацию (включая аудиовизуальный
    контент, созданный вами - далее «UGC<sup>1</sup>
    для публикации на нашем Сайте, мы будем публиковать и иным образом
    использовать эту информацию и UGC в соответствии с лицензией, которую Вы
    предоставляете нам для использования Вашего UGC на Весь период защиты
    авторских прав предоставляемая любыми способами, разрешенными действующим
    законодательством на всей территории Всего мира (далее - «Лицензия»). Тот
    факт, что Вы опубликовали свой контент на нашем Сайте, достаточен для того,
    чтобы считать лицензию предоставленной нам.
  </p>
  <p>
    Ваши настройки конфиденциальности могут использоваться для ограничения
    публикации Вашей информации на нашем Сайте и могут быть изменены с помощью
    элементов управления конфиденциальностью на Сайте.
  </p>
  <p>
    Мы не будем без Вашего явного согласия передавать Вашу Персональную
    информацию третьим лицам для прямого или косвенного проведения маркетинговых
    мероприятий.
  </p>
  <h4>F. Принципы и правила обработки Персональных данных</h4>
  <p>
    Обработка Персональных данных осуществляется на законной и справедливой
    основе и ограничивается достижением конкретных, заранее определенных и
    законных целей. Обработке подлежат только персональные данные, которые
    отвечают целям их обработки. Содержание и объем обрабатываемых Персональных
    данных соответствуют заявленным целям обработки, избыточность обрабатываемых
    данных не допускается.
  </p>
  <p>
    При обработке Персональных данных обеспечивается точность Персональных
    данных, их достаточность и в необходимых случаях актуальность по отношению к
    целям обработки Персональных данных.
  </p>
  <p>
    Хранение Персональных данных осуществляется в форме, позволяющей определить
    субъекта Персональных данных, не дольше, чем этого требуют цели обработки
    Персональных данных, если срок хранения Персональных данных не установлен
    законом, договором, стороной которого, Выгодоприобретателем или поручителем
    по которому является субъект Персональных данных. Обрабатываемые
    персональные данные подлежат уничтожению либо обезличиванию по достижении
    целей обработки, если иное не предусмотрено применимым законодательством.
  </p>
  <p>
    Обработка Персональных данных осуществляется автоматизированным способом в
    информационных системах Персональных данных.
  </p>
  <h4>G. Способы и сроки обработки Персональной информации</h4>
  <p>
    Обработка Ваших Персональных данных осуществляется до момента отзыва
    согласия на обработку Персональных данных. Согласие на обработку
    Персональных данных может быть Вами отозвано любым законным способом, в том
    числе в информационных системах при помощи средств автоматизации.
  </p>
  <p>
    В случае отзыва согласия на обработку Персональных данных Общество
    прекращает их обработку или обеспечивает прекращение такой обработки
    Оператором Персональных данных и в случае, если сохранение Персональных
    данных более не требуется для целей обработки Персональных данных,
    уничтожает персональные данные или обеспечивает их уничтожение Оператором в
    срок, установленный применимым законодательством.
  </p>
  <p>
    Общество и Оператор вправе передавать персональные данные третьим лицам с
    согласия субъекта Персональных данных в соответствии с применимым
    законодательством.
  </p>
  <p>
    Ваши персональные данные могут быть переданы уполномоченным органам
    государственной власти только по основаниям и в порядке, установленном
    применимым законодательством.
  </p>
  <p>Персональные данные Пользователя Сайта уничтожаются при:</p>
  <ul>
    <li>самостоятельном удалении Вами своих данных;</li>
    <li>отзывом Вами согласия на обработку Персональных данных;</li>
    <li>удалении владельцем Сайта информации, размещаемой Вами.</li>
  </ul>
  <p>
    В случае удаления Персональной страницы Пользователя, Мы храним на своих
    электронных носителях персональные и иные необходимые данные в течение
    срока, необходимого и установленного применимым законодательством.
  </p>
  <h4>H. Реализованные меры обеспечения безопасности Персональных данных</h4>
  <p>
    1. Общество и Оператор при обработке Персональных данных принимают
    необходимые правовые, организационные и технические меры для защиты
    Персональных данных от неправомерного или случайного доступа к ним,
    уничтожения, изменения, блокирования, копирования, предоставления,
    распространения Персональных данных, а также от иных неправомерных действий
    в отношении Персональных данных. К таким мерам в том числе относятся
    следующие:
  </p>
  <ul>
    <li>
      назначено лицо, ответственное за организацию обработки и обеспечение
      безопасности Персональных данных;
    </li>
    <li>
      разработана настоящая Политика, локальные акты по вопросам обработки
      Персональных данных, а также локальные акты, устанавливающие процедуры,
      направленные на предотвращение и Выявление нарушений применимого
      законодательства, устранение последствий таких нарушений;
    </li>
    <li>
      проведена оценка вреда, который может быть причинен субъекту Персональных
      данных в случае нарушения требований применимого законодательства;
    </li>
    <li>
      определены актуальные угрозы безопасности Персональных данных при их
      обработке на Сайте и определен тип угроз безопасности Персональных данных
      при их обработке на Сайте с учетом оценки возможного вреда;
    </li>
    <li>
      организовано осуществление внутреннего контроля соответствия обработки
      Персональных данных требованиям применимого законодательства;
    </li>
    <li>
      работники Общества и Оператора, непосредственно осуществляющие обработку
      Персональных данных, ознакомлены с положениями применимого
      законодательства о Персональных данных, в том числе с требованиями к
      защите Персональных данных, настоящей Политикой и локальными актами
      Общества и Оператора по вопросам обработки Персональных данных;
    </li>
    <li>
      создана система защиты Персональных данных информационных систем
      Персональных данных;
    </li>
    <li>
      применяются прошедших в установленном порядке процедуру оценки
      соответствия средств защиты информации;
    </li>
    <li>
      организован режим обеспечения безопасности помещений, в которых ведется
      обработка Персональных данных, препятствующий возможности
      неконтролируемого проникновения или пребывания в этих помещениях лиц, не
      имеющих права доступа в эти помещения;
    </li>
    <li>
      определены правила доступа к Персональным данным, обрабатываемым на Сайте,
      а также обеспечены регистрация и учет всех действий, совершаемых с
      Персональными данными Пользователей Сайтов;
    </li>
    <li>
      осуществляется обнаружение фактов несанкционированного доступа к
      Персональным данным и принятие мер по таким фактам;
    </li>
    <li>
      обеспечивается восстановление Персональных данных, модифицированных или
      уничтоженных вследствие несанкционированного доступа к ним;
    </li>
    <li>
      проводятся периодические проверки соблюдения порядка обработки и
      обеспечения безопасности Персональных данных в Обществе и у Оператора.
    </li>
  </ul>
  <h4>I. Раскрытие Персональной информации</h4>
  <p>
    Мы можем раскрывать Вашу Персональную информацию любому из наших
    сотрудников, должностных лиц, страховщиков, профессиональных консультантов,
    агентов, поставщиков или субподрядчиков, если это разумно необходимо для
    целей, изложенных в настоящей Политике.
  </p>
  <p>
    Мы можем раскрыть Вашу Персональную информацию любому члену нашей группы
    компаний (это означает наши дочерние компании, наша материнская холдинговая
    компания и все ее дочерние компании) в том объеме, в каком это будет разумно
    необходимо для целей, изложенных в настоящей Политике.
  </p>
  <p>Мы можем раскрыть Вашу Персональную информацию:</p>
  <p>1. в той степени, в которой мы обязаны это делать по закону;</p>
  <p>
    2. в связи с любым текущим или предполагаемым судебным разбирательством;
  </p>
  <p>
    3. для установления, осуществления или защиты наших законных прав (включая
    предоставление информации третьим лицам в целях предотвращения мошенничества
    и снижения кредитного риска);
  </p>
  <p>
    4. покупателю (или потенциальному покупателю) любого бизнеса или актива,
    которые мы продаем (или планируем); а также
  </p>
  <p>
    5. любому лицу, которое, по нашему разумному убеждению, может обратиться в
    суд или другой компетентный орган за разглашением такой Персональной
    информации, если, по нашему разумному мнению, такой суд или орган может с
    достаточной вероятностью потребовать раскрытия такой Персональной
    информации.
  </p>
  <p>
    За исключением случаев, предусмотренных настоящей Политикой, мы не будем
    предоставлять Вашу Персональную информацию третьим лицам.
  </p>
  <h4>J. Трансграничная передача данных</h4>
  <p>
    1. Информация, которую Мы собираем, может храниться, обрабатываться и
    передаваться между любыми странами, в которых Общество осуществляем свою
    деятельность для целей использования такой информацию в соответствии с
    настоящей Политикой.
  </p>
  <p>
    2. Информация, которую Мы собираем, может быть передана в следующие страны,
    которые не имеют законов о защите Персональных данных, эквивалентных
    действующим в Европейском экономическом союзе: Соединенные Штаты Америки,
    Япония, Китай и Индия.
  </p>
  <p>
    3. Персональная информация, которую Вы публикуете на нашем Сайте или
    предоставляете для публикации на нашем Сайте, может быть доступна через
    Интернет по всему миру. Мы не можем предотвратить использование или
    неправомерное использование такой информации другими лицами.
  </p>
  <p>
    4. Вы соглашаетесь с передачей личной информации, описанной в данном разделе
    настоящей Политики.
  </p>
  <p>
    Сбор, хранение и обработка Персональных данных полученных от Пользователей
    на территории Российской Федерации осуществляется в соответствии с Законом
    152-ФЗ «О Персональных данных» Оператором Персональных данных: Обществом с
    ограниченной ответственностью «Студия Скринлайф» (Юридический адрес: город
    Москва, улица Старокачаловская, дом 4, этаж 2 помещение I комната 17Б,
    ОГРН: 1147746357054).
    <br /><br />Размещение Персональных данных осуществляется Оператором на
    технических средствах (серверах), находящихся на территории Российской
    Федерации с использованием регистратора
    <a href="https://www.reg.ru/">www.reg.ru</a>.
    <br /><br />Персональная информация может быть передана от Оператора
    Персональных данных Обществу для целей, указанных в настоящем Положении, в
    объеме необходимом для целей получения и для использования способами как они
    определены в настоящем Положении
  </p>
  <h4>K. Сохранение Персональной информации</h4>
  <p>
    1. В данном разделе изложены процедуры по хранению данных, которые призваны
    помочь Нам в выполнении наших юридических обязательств в отношении хранения
    и удаления Вашей Персональной информации.
  </p>
  <p>
    2. Персональная информация, которую Мы обрабатываем для каких-либо целей, не
    должна храниться дольше, чем это необходимо для осуществления таких целей.
  </p>
  <p>
    3. Без ущерба для настоящей статьи Мы обычно удаляем персональные данные,
    относящиеся к категориям, указанным ниже, в дату / время, указанные ниже:
  </p>
  <p>
    3.1. тип Персональных данных будет удален по истечении десяти (10)
    календарных лет с момента получения соответствующей информации Сайтом; а
    также
  </p>
  <p>
    3.2. по истечении семи (7) календарных месяцев с момента отзыва Вашего
    согласия на раскрытие Персональных данных.
  </p>
  <p>
    4. Несмотря на другие положения этого раздела, Мы будем хранить документы
    (включая электронные документы), содержащие персональные данные:
  </p>
  <p>
    4.1. в той степени, в которой Мы обязаны делать это в рамках применимого
    законодательства;
  </p>
  <p>
    4.2. если Мы считаем, что документы могут иметь отношение к любому текущему
    или предполагаемому судебному разбирательству; а также
  </p>
  <p>
    4.3. для установления, осуществления или защиты наших законных прав (включая
    предоставление информации другим лицам в целях предотвращения мошенничества
    и снижения кредитного риска).
  </p>
  <h4>L. Безопасность Вашей Персональной информации</h4>
  <p>
    Мы примем разумные технические и организационные меры предосторожности для
    предотвращения потерь, неправильного использования или изменения Вашей
    Персональной информации.
  </p>
  <p>
    Мы будем хранить всю Персональную информацию, которую Вы предоставляете, на
    наших защищенных (защищенных паролем и firewall) серверах.
  </p>
  <p>
    Вы признаете, что передача информации через Интернет по своей сути
    небезопасна, и мы не можем гарантировать безопасность данных, передаваемых
    через Интернет.
  </p>
  <p>
    Вы несете ответственность за сохранение пароля, который Вы используете для
    конфиденциального доступа к нашему Сайту; мы не будем спрашивать у Вас
    пароль (кроме случаев, когда Вы заходите на наш Сайт).
  </p>
  <h4>M. Ваши права</h4>
  <p>
    Мы можем удерживать запрашиваемую вами Персональную информацию в объеме,
    разрешенном законодательством. Вы можете в любое время поручить нам не
    обрабатывать Вашу Персональную информацию в маркетинговых целях.
  </p>
  <p>
    На практике Вы обычно либо прямо соглашаетесь на использование нами Вашей
    личной информации в маркетинговых целях, либо Мы предоставляем Вам
    возможность отказаться от использования Вашей личной информации в
    маркетинговых целях.
  </p>
  <p>
    Пользователь Сайта (либо его законный представитель) имеет право запросить у
    Оператора Персональных данных следующую информацию:
  </p>
  <ul>
    <li>наименование и фактический адрес Общества и Оператора;</li>
    <li>
      подтверждение факта обработки Обществом его Персональных данных; правовые
      основания, цели и способы обработки его Персональных данных;
    </li>
    <li>
      обрабатываемые персональные данные, относящиеся к соответствующему
      Пользователю Сайта, и источник их получения;
    </li>
    <li>
      сведения о лицах (за исключением работников Общества), которые имеют
      доступ к Персональным данным или которым могут быть предоставлены
      персональные данные на основании договора (в т.ч. поручения) или на
      основании применимого законодательства;
    </li>
    <li>сроки обработки Персональных данных, в том числе сроки их хранения;</li>
    <li>
      наименование или фамилию, имя, отчество и адрес лица, осуществляющего
      обработку Персональных данных по поручению Оператора, если обработка
      поручена или будет поручена такому лицу.
    </li>
  </ul>
  <p>
    Пользователь Сайта (либо его законный представитель) вправе требовать
    уточнения его Персональных данных, их блокирования или уничтожения в случае,
    если персональные данные являются неполными, устаревшими, неточными,
    незаконно полученными или не являются необходимыми для заявленной цели
    обработки.
  </p>
  <h4>N. Сторонние Сайты</h4>
  <p>
    Наш Сайт содержит гиперссылки и информацию о сторонних Сайтах. Мы не
    контролируем и не несем ответственности за политику конфиденциальности
    третьих лиц.
  </p>
  <h4>O. Обновление информации</h4>
  <p>
    Пожалуйста, дайте нам знать, если личная информация о Вас, которую мы
    храним, нуждается в исправлении или обновлении.
  </p>
  <h4>P. Cookies</h4>
  <p>
    Наш Сайт использует Cookies. Файл Cookie — это файл, содержащий
    идентификатор (строку из букв и цифр), который отправляется сервером в
    браузер и сохраняется браузером. Затем идентификатор отправляется обратно на
    сервер каждый раз, когда браузер запрашивает страницу с сервера.
  </p>
  <p>Куки могут быть либо «постоянными», либо «сессионными»:</p>
  <ul>
    <li>
      Постоянный Cookie файл будет храниться в веб-браузере и будет действовать
      до истечения установленного срока, если Вы не удалите их до истечения
      срока действия;
    </li>
    <li>
      Сессионный Cookie файл, с другой стороны, истекает в конце Вашего сеанса,
      когда веб-браузер закрыт.
    </li>
  </ul>
  <p>
    Cookie файлы обычно не содержат никакой информации, которая идентифицирует
    Вас, но Персональная информация, которую мы храним о Вас, может быть связана
    с информацией, хранящейся в Cookie файлах и получаемой из них. Мы используем
    сессионные и постоянные Cookie на нашем Сайте.
  </p>
  <p>
    1. Названия Cookie файлов, которые мы используем на нашем Сайте, и цели, для
    которых они используются, приведены ниже:
  </p>
  <ul>
    <li>
      мы используем Google Analytics и Adwords на нашем Сайте для распознавания
      компьютера, когда пользователь посещает Сайт / отслеживания пользователей
      при их навигации по Сайту / включения использования корзины покупок на
      Сайте / повышения удобства использования Сайта / анализа использования
      Сайт / администрирование Сайта / предотвращение мошенничества и повышение
      безопасности Сайта / персонификация Сайта для каждого пользователя /
      целевая реклама, которая может представлять особый интерес для конкретных
      пользователей / описание целей (й).
    </li>
  </ul>
  <p>
    2. Большинство браузеров позволяют вам отказаться от принятия файлов Сookie,
    например:
  </p>
  <ul>
    <li>
      в Internet Explorer (версия 10) Вы можете заблокировать Сookie файлы,
      используя настройки переопределения обработки файлов Сookie, нажав
      «Инструменты», «Свойства обозревателя», «Конфиденциальность», а затем
      «Дополнительно»;
    </li>
    <li>
      в Firefox (версия 24) Вы можете заблокировать все файлы Сookie, нажав
      «Инструменты», «Параметры», «Конфиденциальность», Выбрав «Использовать
      пользовательские настройки для истории» в раскрывающемся меню и сняв
      флажок «Принимать файлы Сookie с Сайтов»; а также
    </li>
    <li>
      в Chrome (версия 29) Вы можете заблокировать все Сookie файлы, открыв меню
      «Настройка и управление», нажав «Настройки», «Показать дополнительные
      настройки» и «Настройки контента», а затем Выбрав «Блокировать Сайты к
      отсылке данных» под заголовком Cookies.
    </li>
    <li>
      Блокировка всех Сookie файлов отрицательно повлияет на удобство
      использования многих Сайтов. Если Вы заблокируете Сookie файлы, Вы не
      сможете использовать все функции нашего Сайта.
    </li>
  </ul>
  <p>
    3. Вы можете удалить Сookie, уже хранящиеся на Вашем компьютере, например:
  </p>
  <ul>
    <li>
      <b>в Internet Explorer</b>
      (версия 10) необходимо вручную удалить файлы cookie (инструкции для этого
      можно найти по адресу
      <a
        href="http://support.microsoft.com/kb/278835">http://support.microsoft.com/kb/278835</a>);
    </li>
    <li>
      <b>в Firefox</b>
      (версия 24) Вы можете удалить cookie, нажав «Инструменты», «Параметры» и
      «Конфиденциальность», затем Выбрав «Использовать пользовательские
      настройки для истории», нажав «Показать cookie», а затем нажав «Удалить
      все cookie»; а также
    </li>
    <li>
      <b>в Chrome</b>
      (версия 29) Вы можете удалить все файлы cookie, открыв меню «Настройка и
      управление» и нажав «Настройки», «Показать дополнительные настройки» и
      «Очистить данные просмотра», а затем Выбрав «Удалить файлы cookie и
      другие». данные Сайта и плагина» перед нажатием «Очистить данные
      браузера».
    </li>
  </ul>
  <p>
    4. Удаление Сookie файлов отрицательно повлияет на удобство использования
    многих Сайтов.
  </p>
  <h4>Q. Поправки</h4>
  <p>
    Общество вправе вносить изменения в настоящую Политику без Вашего согласия.
    Вам следует периодически проверять эту страницу, чтобы убедиться, что Вы
    понимаете изменения настоящей Политики. Общество справе уведомлять Вас об
    изменениях в данной Политике по электронной почте или через систему личных
    сообщений на нашем Сайте.
  </p>
  <p>
    Вы имеете право по всем вопросам, касающимся сбора, обработки и отзыва,
    блокировки Персональных данных, обратиться к должностному лицу Общества по
    защите данных по следующему email адресу:
    <a href="mailto:editor@screenlifer.com">editor@screenlifer.com</a>.
  </p>
  <p>
    Новая редакция Политики вступает в силу с момента ее размещения на Сайте,
    если иное не предусмотрено новой редакцией Политики.
  </p>
  <p>
    <b>Политика конфиденциальности вступает в силу 08 октября 2020 года </b>
  </p>
  <hr />
  <p>
    <sup>1</sup>
    Под UGC или User-Generated content подразумевается аудиовизуальный контент,
    созданный пользователем Сайта (пользовательский контент). Мы исходим из
    того, что UGC создается и лицензируется Вами для его дальнейшей публикации,
    в том числе на нашем Сайте.
  </p>
</div>
<Spacer size={80} />

<style>
  h3 {
    font-family: "Arturito", sans-serif;
    font-weight: bold;
    font-size: 48px;
    line-height: 62px;
    text-transform: uppercase;
    color: #ffffff;
    text-shadow: -2px -2px 1px #f21cbb;
    text-align: center;
  }
  h4 {
    font-family: Bender;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    font-weight: bold;
    color: #ffffff;
  }
  .rules {
    color: white;
    background: rgba(255, 255, 255, 0.03);
    border-radius: 12px;
    padding: 24px;
    font-weight: 200;
  }
  p,
  li {
    font-size: 12px;
  }
  @media (max-width: 960px) {
    h3 {
      font-size: 23px;
      line-height: inherit;
    }
  }
</style>
