<table>
  <thead>
    <tr>
      <th>Термин</th>
      <th>Определение термина</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>«Автоматизированная обработка Персональных данных»</td>
      <td>
        обработка Персональных данных с помощью средств вычислительной техники.
      </td>
    </tr>
    <tr>
      <td>«Информационная система Персональных данных»</td>
      <td>
        совокупность содержащихся в базах данных Персональных данных и
        обеспечивающих их обработку информационных технологий и технических
        средств.
      </td>
    </tr>
    <tr>
      <td>«Мы» и любые производные</td>
      <td>
        совместно Общество и Оператор Персональных данных как они определены в
        настоящей Политике.
      </td>
    </tr>
    <tr>
      <td>«Общество»</td>
      <td>
        Общество с ограниченной ответственностью «Студия Скринлайф»,
        расположенная по адресу: город Москва, улица Старокачаловская, дом 4,
        этаж 2 помещение I комната 17Б, ОГРН: 1147746357054, владелец Сайта.
      </td>
    </tr>
    <tr>
      <td>«Обработка Персональных данных»</td>
      <td>
        любое действие (операция) или совокупность действий (операций),
        совершаемых с использованием средств автоматизации или без использования
        таких средств с персональными данными, включая сбор, запись,
        систематизацию, накопление, хранение, уточнение (обновление, изменение),
        извлечение, использование, передачу (распространение, предоставление,
        доступ), обезличивание, блокирование, удаление, уничтожение Персональных
        данных.
      </td>
    </tr>
    <tr>
      <td>«Оператор Персональных данных» или «Оператор»</td>
      <td>
        Общество с ограниченной ответственностью «Студия Скринлайф» (Юридический
        адрес: город Москва, улица Старокачаловская, дом 4, этаж 2 помещение I
        комната 17Б, ОГРН: 1147746357054).
      </td>
    </tr>
    <tr>
      <td>«Персональные данные» или «Персональная информация»</td>
      <td>
        любая информация, относящаяся к прямо или косвенно определенному или
        определяемому физическому лицу Пользователю Сайта (субъекту Персональных
        данных).
      </td>
    </tr>
    <tr>
      <td>«Политика»</td>
      <td>
        настоящая Политика конфиденциальности, утвержденная на дату как она
        указана в конце документа.
      </td>
    </tr>
    <tr>
      <td>«Пользователь Сайта» или «Вы» и любые производные</td>
      <td>
        лицо, достигшие 16 лет, имеющее доступ к Сайту, посредством сети
        Интернет и использующее Сайт.
      </td>
    </tr>
    <tr>
      <td>«Сайт»</td>
      <td>
        информационный ресурс, размещенный в сети интернет по адресу:
        <a
          href="https://dreamapp.screenlife.com/">https://dreamapp.screenlife.com/</a>
      </td>
    </tr>
    <tr>
      <td>«Трансграничная передача Персональных данных»</td>
      <td>
        передача Персональных данных на территорию иностранного государства,
        органу власти иностранного государства, иностранному физическому лицу
        или иностранному юридическому лицу.
      </td>
    </tr>
    <tr>
      <td>«Cookies»</td>
      <td>
        небольшой фрагмент данных, отправленный web-сервером и хранимый на
        компьютере Пользователя Сайта, который web-клиент или web-браузер каждый
        раз пересылает web-серверу в HTTP-запросе при попытке открыть страницу
        соответствующего Сайта.
      </td>
    </tr>
    <tr>
      <td>«IP-адрес»</td>
      <td>
        уникальный сетевой адрес узла в компьютерной сети, построенной по
        протоколу IP.
      </td>
    </tr>
  </tbody>
</table>

<style>
  table {
    font-family: Bender;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    border-collapse: collapse;
    color: #ffffff;
  }
  table td:first-child {
    font-weight: bold;
  }
  table th{
    font-weight: bold;
  }
  td, th {
    border: 1px solid rgb(242 28 187 / 0.2);
    padding: 8px;
  }
</style>
